<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: fp/capitalAssetEditTab.tag -->
<!-- Fragment parameters: readOnly -->
<div th:fragment="content (readOnly)" xmlns:th="http://www.thymeleaf.org">
<%@ tag description="render the capital edit tag that contains the given capital asset info"%>

<!--/*/ <th:block th:with="capitalAssetInfoSize=${#strings.length(KualiForm.document.capitalAssetInformation)}"> /*/-->	
<!--/*/ <th:block th:with="defaultOpen=false"> /*/-->

<th:block th:if="${capitalAssetInfoSize > 0}">
	<!--/*/ <th:block th:with="defaultOpen=true"> /*/-->
</th:block>

<section class="kfs-tab" data-tab-title="Create Capital Assets" data-default-open="${defaultOpen}">
  <h3>Create Capital Assets</h3>
     <div class="tab-container" align="center">
	 <h3>Create Capital Assets</h3>
	 <table class="datatable" style="border-top: 1px solid rgb(153, 153, 153);"  cellpadding="0" cellspacing="0" summary="Capital Asset Information">
	     <th:block th:if="${capitalAssetInfoSize <= 0}">
			<tr>
				<td class="datacell" height="50" colspan="5"><div align="center">There are currently no Capital Assets entries associated with this Transaction Processing document.</div></td>
			</tr>
		</th:block>
     </table>
     <th:block th:if="${capitalAssetInfoSize > 0}">	 
	 	<div th:replace="~{fragments/fp/capitalAssetInfo :: content}" data-read-only="${readOnly}"></div>
	 </th:block>     
	 </div>	
</section>
</div>
