<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: fp/miscAdvanceHeader.tag -->
<!-- Fragment parameters: itemInProcessProperty, creatingItemInProcess -->
<div th:fragment="content (itemInProcessProperty, creatingItemInProcess)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="itemInProcessAttributes=${DataDictionary.CashieringItemInProcess.attributes}"> /*/-->
<tr>
  <th:block th:if="${!creatingItemInProcess}"><td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.itemIdentifier}"></label></td></th:block>
  <td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.itemAmount}"></label></td>
  <th:block th:if="${!creatingItemInProcess}">
    <td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.itemReducedAmount}"></label></td>
    <td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.itemRemainingAmount}"></label></td>
    <td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.currentPayment}"></label></td>
  </th:block>
  <td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.itemOpenDate}"></label></td>
  <td><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${itemInProcessAttributes.itemDescription}"></label></td>
</tr>
</div>
