<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: fp/openMiscAdvanceLines.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<%--
  the miscAdvanceLines.tag is only used to show misc advances that are being paid back - that is, they live in the "money out"
  section of the page
--%>
<th:block th:if="${!empty KualiForm.document.currentTransaction.openItemsInProcess}">
  <table border="0" cellspacing="0" cellpadding="0" class="datatable">
    <tr>
      <td colspan="7" class="infoline">
        Open Misc. Advances
      </td>
    </tr>
    <div th:replace="~{fragments/fp/miscAdvanceHeader :: content}" data-item-in-process-property="document.currentTransaction.openItemInProcess[${loopStatus.index}]" data-creating-item-in-process="false"></div>
    <tr th:each="itemInProcess, loopStatus : ${KualiForm.document.currentTransaction.openItemsInProcess}">
      <div th:replace="~{fragments/fp/miscAdvanceLine :: content}" data-item-in-process-property="document.currentTransaction.openItemInProcess[${loopStatus.index}]" data-creating-item-in-process="false"></div>
    </tr>
  </table>
</th:block>
</div>
