<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/tem/tr/tripOverview.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="documentAttributes=${DataDictionary.TravelReimbursementDocument.attributes}"> /*/-->

<input type="hidden" th:field="*{startDate}" />
<input type="hidden" th:field="*{endDate}" />
<section class="kfs-tab" data-tab-title="Trip Overview" data-default-open="true">
  <h3>Trip Overview</h3>
	<div class="tab-container" align="center">

		<div th:replace="~{fragments/tem/traveler :: content}"></div>
		<div class="kfs-tem-tripInformation" th:include="~{fragments/tem/tripInformation :: content}">
			<%-- if TAC doc exists, don't display checkbox--%>
			<th:block th:if="${!isClose}">
				<tr>
					<th class="bord-l-b">
						<div align="right">
							<label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.finalReimbursement}"></label>
						</div></th>
					<td class="datacell" colspan="3"><input type="text" name="document.finalReimbursement" th:field="*{document.finalReimbursement}" data-attribute-entry="${documentAttributes.finalReimbursement}" />
					</td>
				</tr>
			</th:block>
			
			<th class="bord-l-b" />
			<td class="datacell" />
		</div><!-- /tem:tripInformation -->
		<jsp:doBody />
	</div>
</section>
</div>
