<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Budget Construction</title>
</head>
<body>
<div layout:fragment="content">
<!-- th:with="budgetConstructionAttributes=${DataDictionary['BudgetConstructionDocument'].attributes}" -->

<th:block th:if="${KualiForm.pickListClose}">
<div class="kfs-page" data-header-title="" data-doc-title="Budget Construction Document">
<h1></h1>
<form th:action="@{budgetBudgetConstruction}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="page-body">
    <div id="globalbuttons" class="globalbuttons">
	    <input type="image" th:src="@{${ConfigProperties.kr.externalizable.images.url}buttonsmall_close.gif}" styleClass="globalbuttons" 
	        onclick="window.close();return true;" property="methodToCall.performLost" title="close the window" alt="close the window"/>		
    </div>
</div>
</div>
</th:block>

<th:block th:if="${!KualiForm.pickListClose}">
<div class="kfs-page" data-header-title="" data-doc-title="Budget Construction Document">
<h1></h1>
<form th:action="@{budgetBudgetConstruction}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="page-body">
    <input type="hidden" th:field="*{mainWindow}" />

	<div th:replace="~{fragments/documentOverview :: documentOverview(${{KualiForm.editingMode}})}"></div>

    <th:block th:if="${!KualiForm.securityNoAccess}">
    <div th:replace="~{fragments/bc/systemInformation :: systemInformation}"></div>

    <div th:replace="~{fragments/bc/budgetConstructionRevenueLines :: budgetConstructionRevenueLines}"></div>

    <div th:replace="~{fragments/bc/budgetConstructionExpenditureLines :: budgetConstructionExpenditureLines}"></div>
    
	<div th:replace="~{fragments/notes :: notes}"></div>
    </th:block>

	<div th:replace="~{fragments/routeLog :: routeLog}"></div>

	<div th:replace="~{fragments/panelFooter :: panelFooter}"></div>

	<div th:replace="~{fragments/documentControls :: documentControls(${documentEntry.transactionalDocument}, ${KualiForm.extraButtons})}"></div>

<SCRIPT type="text/javascript">
  subObjectCodeNameSuffix = ".financialSubObject.financialSubObjectCdshortNm";
  var kualiForm = document.forms['KualiForm'];
  var kualiElements = kualiForm.elements;
</SCRIPT>
</div>
</div>
</th:block>
</div>
</body>
</html>
