<!DOCTYPE html>
<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf template converted from JSP: module/bc/BudgetConstruction.jsp -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:kfs="http://www.thymeleaf.org/kfs">
<head>
  <meta charset="UTF-8" />
  <title th:text="${documentTitle}">module/bc/BudgetConstruction</title>
</head>
<body>
<!--/*/ <th:block th:with="budgetConstructionAttributes=${DataDictionary['BudgetConstructionDocument'].attributes}"> /*/-->

<th:block th:if="${KualiForm.pickListClose}">
<div class="kfs-page" data-header-title="" data-doc-title="Budget Construction Document">
  <form action="budgetBudgetConstruction.do" method="post">
    <div id="globalbuttons" class="globalbuttons">
	    <input type="image" src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_close.gif" styleClass="globalbuttons" 
	        onclick="window.close();return true;" property="methodToCall.performLost" title="close the window" alt="close the window"/>		
    </div>
  </form>
</div>
</th:block>

<th:block th:if="${!KualiForm.pickListClose}">
<div class="kfs-page" data-header-title="" data-doc-title="Budget Construction Document">
  <form action="budgetBudgetConstruction.do" method="post">
    <input type="hidden" th:field="*{mainWindow}" />

	<div th:replace="~{fragments/sys/documentOverview :: content}" data-editing-mode="${KualiForm.editingMode}"></div>

    <th:block th:if="${!KualiForm.securityNoAccess}">
    <div th:replace="~{fragments/bc/systemInformation :: content}"></div>

    <div th:replace="~{fragments/bc/budgetConstructionRevenueLines :: content}"></div>

    <div th:replace="~{fragments/bc/budgetConstructionExpenditureLines :: content}"></div>
    
	<div th:replace="~{fragments/kul/notes :: content}"></div>
    </th:block>

	<div th:replace="~{fragments/kul/routeLog :: content}"></div>

	<div class="kfs-panel-footer"></div>

	<div th:replace="~{fragments/sys/documentControls :: content}" data-transactional-document="false" data-suppress-routing-controls="true"></div>

<%-- Need these here to override and initialize vars used by objectinfo.js to BC specific --%>
<SCRIPT type="text/javascript">
  subObjectCodeNameSuffix = ".financialSubObject.financialSubObjectCdshortNm";
  var kualiForm = document.forms['KualiForm'];
  var kualiElements = kualiForm.elements;
</SCRIPT>
  </form>
</div>
</th:block>
</body>
</html>
