<!DOCTYPE html>
<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf template converted from JSP: module/bc/OrganizationSelectionTree.jsp -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:kfs="http://www.thymeleaf.org/kfs">
<head>
  <meta charset="UTF-8" />
  <title th:text="${documentTitle}">module/bc/OrganizationSelectionTree</title>
</head>
<body>
<script language="JavaScript" type="text/javascript" src="scripts/module/bc/organizationSelectionTree.js"></script>

<!--/*/ <th:block th:with="pointOfViewOrgAttributes=${DataDictionary.BudgetConstructionOrganizationReports.attributes}"> /*/-->
<!--/*/ <th:block th:with="pullupOrgAttributes=${DataDictionary.BudgetConstructionPullup.attributes}"> /*/-->
<!--/*/ <th:block th:with="organizationAttributes=${DataDictionary.Organization.attributes}"> /*/-->

<div class="kfs-page" data-header-title="" data-doc-title="Organization Selection">
  <form action="budgetOrganizationSelectionTree.do" method="post">
    
    <!--[if IE]> 
      <style>
        #workarea div.tab-container {
          width:100%;
        }
      </style> 
    <![endif]-->
    	    
    <div class="kfs-errors" data-key-match="pointOfViewOrg" th:if="${#fields.hasErrors('pointOfViewOrg')}"><h4>Errors found in Organization Selection:</h4></div>
    <c:forEach items="${KualiForm.messages}" var="message">
	   ${message}
	</tr>

	<br/><br/>	

	<section class="kfs-tab" data-tab-title="${KualiForm.operatingModeTitle}" data-default-open="true">
  <h3>${KualiForm.operatingModeTitle}</h3>
	<div class="tab-container" align=center>
		<div th:replace="~{fragments/bc/budgetConstructionOrgSelection :: content}"></div>
	</div>
	</section>
	
	<th:block th:if="${!empty KualiForm.selectionSubTreeOrgs}">		
		<th:block th:if="${KualiForm.operatingMode == BCConstants.OrgSelOpMode.REPORTS}">
			<div th:replace="~{fragments/bc/budgetConstructionOrgSelectionReport :: content}"></div>
		</th:block>
		
	    <th:block th:if="${KualiForm.operatingMode == BCConstants.OrgSelOpMode.ACCOUNT}">
			<div th:replace="~{fragments/bc/budgetConstructionOrgSelectionAccount :: content}"></div>
		</th:block>
		
	    <th:block th:if="${KualiForm.operatingMode == BCConstants.OrgSelOpMode.SALSET}">
			<div th:replace="~{fragments/bc/budgetConstructionOrgSelectionSalset :: content}"></div>
		</th:block>
		
		<th:block th:if="${KualiForm.operatingMode == BCConstants.OrgSelOpMode.PULLUP or KualiForm.operatingMode == BCConstants.OrgSelOpMode.PUSHDOWN}">    
			<div th:replace="~{fragments/bc/budgetConstructionOrgSelectionPushOrPull :: content}"></div>     
		</th:block>       
    </th:block>

	<div class="kfs-panel-footer"></div>
	
    <div id="globalbuttons" class="globalbuttons">
        <th:block th:if="${!empty KualiForm.selectionSubTreeOrgs && KualiForm.operatingMode == BCConstants.OrgSelOpMode.PULLUP}">
             <input type="image" property="methodToCall.performPullUp" src="${ConfigProperties.externalizable.images.url}buttonsmall_pullup.gif" title="Perform Pullup" alt="Perform Pullup" styleClass="globalbuttons" />
        </th:block>
        
        <th:block th:if="${!empty KualiForm.selectionSubTreeOrgs && KualiForm.operatingMode == BCConstants.OrgSelOpMode.PUSHDOWN}">
             <input type="image" property="methodToCall.performPushDown" src="${ConfigProperties.externalizable.images.url}buttonsmall_pushdown.gif" title="Perform Pushdown" alt="Perform Pushdown" styleClass="globalbuttons" />
        </th:block>
        
        <input type="image" src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_close.gif" styleClass="globalbuttons" property="methodToCall.returnToCaller" title="close" alt="close"/>
    </div>
  </form>
</div>
</body>
</html>
