<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Travel Reimbursement</title>
</head>
<body>
<div layout:fragment="content">
<c:set var="canEdit" value="${KualiForm.documentActions[Constants.KUALI_ACTION_CAN_EDIT]}" scope="request" />
<c:set var="fullEntryMode" value="${KualiForm.editingMode['fullEntry']}" scope="request" />
<c:set var="advancePaymentMode" value="${KualiForm.editingMode['advancePaymentEntry']}" scope="request"/>
<c:set var="expenseTaxableMode" value="${KualiForm.editingMode['expenseTaxableEntry']}" scope="request"/>
<c:set var="blanketTravelMode" value="${KualiForm.editingMode['blanketTravelEntry']}" scope="request"/>
<c:set var="blanketTravelViewMode" value="${KualiForm.editingMode['blanketTravelView']}" scope="request"/>
<c:set var="conversionRateEntryMode" value="${KualiForm.editingMode['conversionRateEntry']}" scope="request"/>
<c:set var="frnEntryMode" value="${canEdit && KualiForm.editingMode['frnEntry']}" scope="request" />
<c:set var="wireEntryMode" value="${canEdit && KualiForm.editingMode['wireEntry']}" scope="request" />

<div class="document-page" data-document-type="TR" data-form-action="temTravelReimbursement" data-show-document-info="true">
<form th:action="@{temTravelReimbursement}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="document-body">
	
	<script language="javascript" src="dwr/interface/TravelDocumentService.js"></script> 
	<script language="javascript" src="dwr/interface/TravelReimbursementService.js"></script>
	<script language="javascript" src="dwr/interface/TravelExpenseService.js"></script>
	<script language="javascript" src="scripts/module/tem/common.js"></script>
	<script language="javascript" src="scripts/module/tem/objectInfo.js"></script>
       
    <sys:documentOverview editingMode="${KualiForm.editingMode}" includeBankCode="true"
	  bankProperty="document.financialDocumentBankCode" 
	  bankObjectProperty="document.bank"
	  disbursementOnly="true" />

    <th:block th:if="${showReports}">
        <div th:replace="~{fragments/tem_tr/reports :: reports}"></div>
    </th:block>
	
	<script type="text/javascript">
		function clearSpecialHandlingTab() {
		var prefix = "document.travelPayment.";
		var ctrl;
		
		ctrl = kualiElements[prefix + "specialHandlingCityName"]
		ctrl.value = "";
		
		ctrl = kualiElements[prefix + "specialHandlingLine1Addr"];
		ctrl.value = "";
		
		ctrl = kualiElements[prefix + "specialHandlingStateCode"];
		ctrl.value = "";
		
		ctrl = kualiElements[prefix + "specialHandlingLine2Addr"];
		ctrl.value = "";
		
		ctrl = kualiElements[prefix + "specialHandlingZipCode"];
		ctrl.value = "";
		
		ctrl = kualiElements[prefix + "specialHandlingCountryCode"];
		ctrl.value = "";
	   }
	</script>
	<sys:paymentMessages />
	
    <div th:replace="~{fragments/tem_tr/tripOverview :: tripOverview}"></div>
    <div th:replace="~{fragments/tem/travelAdvances :: travelAdvances}"></div>

    <!-- Expenses related -->
    <th:block th:if="${not empty KualiForm.document.primaryDestinationName}"> 
		<div th:replace="~{fragments/tem/perDiemExpenses :: perDiemExpenses}"></div>
    </th:block>
    <div th:replace="~{fragments/tem/expenses :: expenses}"></div> 
    <div th:replace="~{fragments/tem_tr/expenseTotals :: expenseTotals}"></div>

	<div th:replace="~{fragments/tem/specialCircumstances :: specialCircumstances}"></div>
	<div th:replace="~{fragments/tem/groupTravel :: groupTravel}"></div>

    <div th:replace="~{fragments/tem_tr/history :: history}"></div>
    
	<div th:replace="~{fragments/tem/contactInfo :: contactInfo}"></div>    
	<div th:replace="~{fragments/tem/travelerCertification :: travelerCertification}"></div>

    <div th:replace="~{fragments/tem/summaryByObjectCode :: summaryByObjectCode}"></div>
    
    <div th:replace="~{fragments/tem/assignAccounts :: assignAccounts}"></div>
     <th:block th:if="${KualiForm.displayAccountingLines}">
    	<div th:replace="~{fragments/tem/accountingLines :: accountingLines}"></div>
    </th:block>
	<div th:replace="~{fragments/tem/travelPayment :: travelPayment}"></div>
	<div th:replace="~{fragments/tem/travelPaymentPDPStatus :: travelPaymentPDPStatus}" th:with="travelPaymentProperty='travelPayment',pdpPaymentDocumentType=${KualiForm.document.achCheckDocumentType},displayCorporateCardExtraction=${KualiForm.document.corporateCardPayable}"></div>
    <div th:replace="~{fragments/generalLedgerPendingEntries :: glpe}"></div>
    <div th:replace="~{fragments/tem/relatedDocuments :: relatedDocuments}"></div>
	<div th:replace="~{fragments/tem/agencyLinks :: agencyLinks}"></div>

	<kul:notes attachmentTypesValuesFinderClass="${DataDictionary.TravelReimbursementDocument.attachmentTypesValuesFinderClass}" />  
    
    <div th:replace="~{fragments/adHocRecipients :: adHocRecipients}"></div>

    <div th:replace="~{fragments/routeLog :: routeLog}"></div>
	<div th:replace="~{fragments/superUserActions :: superUserActions}"></div>
    <div th:replace="~{fragments/panelFooter :: panelFooter}"></div>
    
    <div th:replace="~{fragments/documentControls :: documentControls(${documentEntry.transactionalDocument}, ${KualiForm.extraButtons})}"></div>

      
</div>
</div>
</div>
</body>
</html>
