<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: sys/hiddenDocumentFields.tag -->
<!-- Fragment parameters: isTransactionalDocument, isFinancialDocument, excludePostingYear -->
<div th:fragment="content (isTransactionalDocument, isFinancialDocument, excludePostingYear)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="documentTypeName=${KualiForm.docTypeName}"> /*/-->
<!--/*/ <th:block th:with="documentEntry=${DataDictionary[documentTypeName]}"> /*/-->


<%-- set default values --%>
<th:block th:if="${empty isFinancialDocument}">
    <!--/*/ <th:block th:with="isFinancialDocument=true"> /*/-->
</th:block>
<th:block th:if="${empty isTransactionalDocument}">
    <!--/*/ <th:block th:with="isTransactionalDocument=true"> /*/-->
</th:block>
	
<kul:hiddenDocumentFields includeDocumentHeaderFields="${isTransactionalDocument}" includeEditMode="${isTransactionalDocument}"/>


<th:block th:if="${isTransactionalDocument && isFinancialDocument}">
    <th:block th:if="${!excludePostingYear}">
        <input type="hidden" th:field="*{document.postingYear}" /> 
    </th:block>
    <input type="hidden" th:field="*{document.postingPeriodCode}" /> 	

 </th:block>
</div>
