<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/cg/auditRow.tag -->
<!-- Fragment parameters: tabTitle, defaultOpen, totalErrors -->
<div th:fragment="content (tabTitle, defaultOpen, totalErrors)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="tabKey=${kfunc:generateTabKey(tabTitle)}"> /*/-->
<!--/*/ <th:block th:with="currentTabIndex=${KualiForm.currentTabIndex}"> /*/-->
<!--/*/ <th:block th:with="incrementerDummy=${kfunc:incrementTabIndex(KualiForm, currentTabIndex)}"> /*/-->
<!--/*/ <th:block th:with="currentTab=${kfunc:getTabState(KualiForm, currentTabIndex)}"> /*/-->

<th:block th:switch="${true}">
    <th:block th:case="${empty currentTab}">
        <!--/*/ <th:block th:with="isOpen=${defaultOpen}"> /*/-->
    </th:block>
    <th:block th:case="${!empty currentTab}">
        <!--/*/ <th:block th:with="isOpen=${(currentTab == 'OPEN')}"> /*/-->
    </th:block>
</th:block>

<html:hidden property="tabStates(${tabKey})" value="${(isOpen ? 'OPEN' : 'CLOSE')}" />

<!-- ROW -->

<tbody>
    <tr>
	    <td class="tab-subhead">
	      	<th:block th:if="${isOpen == 'true' || isOpen == 'TRUE'}">
	            <input type="image" property="methodToCall.toggleTab.tab${tabKey}" src="${ConfigProperties.kr.externalizable.images.url}tinybutton-hide.gif" alt="hide" styleClass="tinybutton" styleId="tab-${tabKey}-imageToggle" onclick="javascript: return toggleTab(document, '${tabKey}'); " />
	        </th:block>
	        <th:block th:if="${isOpen != 'true' && isOpen != 'TRUE'}">
	            <input type="image" property="methodToCall.toggleTab.tab${tabKey}" src="${ConfigProperties.kr.externalizable.images.url}tinybutton-show.gif" alt="show" styleClass="tinybutton" styleId="tab-${tabKey}-imageToggle" onclick="javascript: return toggleTab(document, '${tabKey}'); " />
	        </th:block>
	    </td>
	    <td colspan="3" class="tab-subhead" width="99%"><b>${tabTitle} (${totalErrors})</b></td>
    </tr>
</tbody>

<th:block th:if="${isOpen == 'true' || isOpen == 'TRUE'}">
	<tbody style="display: ;" id="tab-${tabKey}-div">
</th:block>
<th:block th:if="${isOpen != 'true' && isOpen != 'TRUE'}">
	<tbody style="display: none;" id="tab-${tabKey}-div">
</th:block>

<!-- Before the jsp:doBody of the kul:tab tag -->
<jsp:doBody/>
<!-- After the jsp:doBody of the kul:tab tag -->

</tbody>
</div>
