<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/cams/viewPaymentInProcessByAsset.tag -->
<!-- Fragment parameters: assetPaymentDetail, assetPaymentAssetDetail, assetPaymentDistribution, defaultTabHide -->
<div th:fragment="content (assetPaymentDetail, assetPaymentAssetDetail, assetPaymentDistribution, defaultTabHide)" xmlns:th="http://www.thymeleaf.org">
<th:block th:if="${ (fn:length(assetPaymentDetail) > 0) && (fn:length(assetPaymentAssetDetail) > 0) }">
	<!--/*/ <th:block th:with="assetPaymentAttributes=${DataDictionary.AssetPaymentDetail.attributes}"> /*/-->
	<!--/*/ <th:block th:with="assetAttributes=${DataDictionary.Asset.attributes}"> /*/-->
		
	<!--/*/ <th:block th:with="dateFormatPattern=MM/dd/yyyy"> /*/-->
	
	<section class="kfs-tab" data-tab-title="In Process Payments by Asset" data-default-open="${!defaultTabHide}">
  <h3>In Process Payments by Asset</h3>
		<div class="tab-container" align="center">
		<table width="100%" cellpadding="0" cellspacing="0" class="datatable">								
			<tr>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetAttributes.capitalAssetNumber}"></label></th>				
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.chartOfAccountsCode}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.accountNumber}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.subAccountNumber}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.financialObjectCode}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.financialSubObjectCode}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.projectCode}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.expenditureFinancialDocumentPostedDate}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.postingYear}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.postingPeriodCode}"></label></th>
				<th class="grid" align="center"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${assetPaymentAttributes.amount}"></label></th>
			</tr>

			<!--/*/ <th:block th:with="pos=${-1}"> /*/-->			
			<tr th:each="assetDetail : ${assetPaymentAssetDetail}">
				<!--/*/ <th:block th:with="pos=${pos + 1}"> /*/-->	

				<!--/*/ <th:block th:with="line=${-1}"> /*/-->
        
				<tr th:each="payment : ${assetPaymentDetail}">
					<!--/*/ <th:block th:with="line=${line + 1}"> /*/-->

					<!--/*/ <th:block th:with="object=document.sourceAccountingLine[${line}]"> /*/-->
					<fmt:formatNumber var="allocatedAmount" value="${assetPaymentDistribution[payment.assetPaymentDetailKey][assetDetail]}" maxFractionDigits="2" minFractionDigits="2" type="number"/>
					<tr>
					  <td class="grid">
				      <input type="text" name="document.assetPaymentAssetDetail[${pos}].capitalAssetNumber" th:field="*{document.assetPaymentAssetDetail[${pos}].capitalAssetNumber}" data-attribute-entry="${assetAttributes.capitalAssetNumber}" readonly="readonly" />
						<span class="kfs-inquiry" data-bo-class="org.kuali.kfs.module.cam.businessobject.Asset" data-key-values="capitalAssetNumber=${KualiForm.document.assetPaymentAssetDetail[pos].capitalAssetNumber}">
			            	<html:hidden write="true" property="document.assetPaymentAssetDetail[${pos}].capitalAssetNumber" />
				        </span>&nbsp;
						</div><!-- /kul:htmlControlAttribute -->
			 			</td>
		 												
		 				<td class="grid"><input type="text" name="${object}.chartOfAccountsCode" th:field="*{${object}.chartOfAccountsCode}" data-attribute-entry="${assetPaymentAttributes.chartOfAccountsCode}" readonly="readonly" /></td>								
						<td class="grid">
						  <input type="text" name="${object}.accountNumber" th:field="*{${object}.accountNumber}" data-attribute-entry="${assetPaymentAttributes.accountNumber}" readonly="readonly" />								
							  <span class="kfs-inquiry" data-bo-class="org.kuali.kfs.coa.businessobject.Account" data-key-values="chartOfAccountsCode=${KualiForm.document.sourceAccountingLines[line].chartOfAccountsCode}&amp;accountNumber=${KualiForm.document.sourceAccountingLines[line].accountNumber}">
		              <html:hidden write="true" property="${object}.accountNumber" />
       		      		</span>&nbsp;
         			</div><!-- /kul:htmlControlAttribute -->
		      	</td>
						<td class="grid"><span th:text="${payment.subAccountNumber}"></span>&nbsp;</td>								
						<td class="grid"><span th:text="${payment.financialObjectCode}"></span>&nbsp;</td>								
						<td class="grid"><span th:text="${payment.financialSubObjectCode}"></span>&nbsp;</td>								
						<td class="grid"><span th:text="${payment.projectCode}"></span>&nbsp;</td>
						<td class="grid"><span th:text="${#dates.format(${payment.expenditureFinancialDocumentPostedDate}, &apos;${dateFormatPattern}&apos;)}"></span></td>
						<td class="grid"><span th:text="${payment.postingYear}"></span></td>								
						<td class="grid"><span th:text="${payment.postingPeriodCode}"></span></td>								
						<td class="grid"><div align="right">${allocatedAmount}</div></td>								
					</tr>
				</tr>					
			</tr>
		</table>
		</div>
</section>
</th:block>
</div>
