<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: portal/channel/main/balanceInquiries.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/channel/portalChannelTop :: content}" data-channel-title="Balance Inquiries"></div>
<div class="body">
 	<strong>General Ledger</strong><br />
    <ul class="chan">
		<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Available Balances" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.AccountBalance&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
	    <li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Balances by Consolidation" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_ACCOUNT_BALANCE_BY_CONSOLIDATION_LOOKUP_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.AccountBalanceByConsolidation&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
	   	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Cash Balances" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.CashBalance&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
	   	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Current Account Balances" data-url="${ConfigProperties.application.url}/kr/lookup.do?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.CurrentAccountBalance&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
	    <li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="General Ledger Balance" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_BALANCE_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.Balance&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
		<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="General Ledger Entry" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.Entry&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
		<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="General Ledger Pending Entry" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.sys.businessobject.GeneralLedgerPendingEntry&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
	   	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Open Encumbrances" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.gl.businessobject.Encumbrance&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
    </ul>
<th:block th:if="${ConfigProperties.module.labor.distribution.enabled == 'true'}">    
 	<strong>Labor Distribution</strong><br />
        <ul class="chan">
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Account Status (Base Funds)" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.AccountStatusBaseFunds&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>    
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Account Status (Current Funds)" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.AccountStatusCurrentFunds&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>     
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Calculated Salary Foundation" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.LaborCalculatedSalaryFoundationTracker&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Employee Funding" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.EmployeeFunding&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>     
    <li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="July 1 Position Funding" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.July1PositionFunding&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>  
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Labor Ledger View" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_BALANCE_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.LedgerBalance&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true&financialBalanceTypeCode=AC"></div></li>  
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Labor Ledger Pending Entry" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.LaborLedgerPendingEntry&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>  
	<li><div th:replace="~{fragments/portal/portalLink :: content}" data-display-title="true" data-title="Position Inquiry" data-url="${ConfigProperties.application.url}/${KFSConstants.GL_MODIFIED_INQUIRY_ACTION}?methodToCall=start&businessObjectClassName=org.kuali.kfs.module.ld.businessobject.PositionData&docFormKey=88888888&returnLocation=portal.do&hideReturnLink=true"></div></li>  
    </ul>
</th:block>
</div>
<div th:replace="~{fragments/channel/portalChannelBottom :: content}"></div>
</div>
