<!DOCTYPE html>
<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf template converted from JSP: module/common/ContractsGrantsReportLookup.jsp -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:kfs="http://www.thymeleaf.org/kfs">
<head>
  <meta charset="UTF-8" />
  <title th:text="${documentTitle}">module/common/ContractsGrantsReportLookup</title>
</head>
<body>
<%--NOTE: DO NOT FORMAT THIS FILE, DISPLAY:COLUMN WILL NOT WORK CORRECTLY IF IT CONTAINS LINE BREAKS --%>
<!--/*/ <th:block th:with="headerMenu="> /*/-->
<!--/*/ <th:block th:with="numberOfColumns=${KualiForm.numColumns}"> /*/-->
<!--/*/ <th:block th:with="headerColspan=${numberOfColumns * 2}"> /*/-->


<div class="kfs-page" data-header-title="Lookup" data-doc-title="">
  <form action="${KualiForm.htmlFormAction}.do" method="post">

	<SCRIPT type="text/javascript">
		var kualiForm = document.forms['KualiForm'];
		var kualiElements = kualiForm.elements;
		var excludeSubmitRestriction = true;
	</SCRIPT>
	<script type="text/javascript"
		src="${pageContext.request.contextPath}/dwr/interface/DocumentTypeService.js"></script>


	<th:block th:if="${KualiForm.headerBarEnabled}">
		<div class="headerarea-small" id="headerarea-small">
			<h1>
				<span th:text="${KualiForm.lookupable.title}"></span>
				<th:block th:switch="${true}">
					<th:block th:case="${KualiForm.fields.docTypeFullName != null}">
						<%-- this is a custom doc search --%>
						<span class="kfs-help" th:replace="~{fragments/kul/help :: content}"></span>
					</th:block>
					<th:block th:case="*">
						<%-- KNS looup --%>
						<span class="kfs-help" th:replace="~{fragments/kul/help :: content}"></span>
					</th:block>
				</th:block>
			</h1>
		</div>
	</th:block>

	<th:block th:if="${KualiForm.renderSearchButtons}">
		<kul:enterKey methodToCall="search" />
	</th:block>

	<html-el:hidden name="KualiForm" property="backLocation" />
	<html-el:hidden name="KualiForm" property="formKey" />
	<html-el:hidden name="KualiForm" property="lookupableImplServiceName" />
	<html-el:hidden name="KualiForm" property="businessObjectClassName" />
	<html-el:hidden name="KualiForm" property="conversionFields" />
	<html-el:hidden name="KualiForm" property="hideReturnLink" />
	<html-el:hidden name="KualiForm" property="suppressActions" />
	<html-el:hidden name="KualiForm" property="multipleValues" />
	<html-el:hidden name="KualiForm" property="lookupAnchor" />
	<html-el:hidden name="KualiForm" property="readOnlyFields" />
	<html-el:hidden name="KualiForm" property="referencesToRefresh" />
	<html-el:hidden name="KualiForm" property="hasReturnableRow" />
	<html-el:hidden name="KualiForm" property="docNum" />
	<html-el:hidden name="KualiForm" property="showMaintenanceLinks" />
	<html-el:hidden name="KualiForm" property="headerBarEnabled" />
	<html-el:hidden name="KualiForm"
		property="fieldNameToFocusOnAfterSubmit" />

	<th:block th:if="${KualiForm.headerBarEnabled}">
		<tr th:each="item, status : ${KualiForm.extraButtons}">
			<html-el:hidden name="KualiForm"
				property="extraButtons[${status.index}].extraButtonSource" />
			<html-el:hidden name="KualiForm"
				property="extraButtons[${status.index}].extraButtonParams" />
		</tr>
		<th:block th:if="${KualiForm.supplementalActionsEnabled==true}">
			<div class="lookupcreatenew" title="Supplemental Search Actions"
				style="padding: 3px 30px 3px 300px;">
				${KualiForm.lookupable.supplementalMenuBar} &nbsp;
				<!--/*/ <th:block th:with="extraField=${KualiForm.lookupable.extraField}"> /*/-->
				<th:block th:if="${not empty extraField}">
					<%--has to be a dropdown script for now--%>
					<th:block th:if="${extraField.fieldType eq extraField.DROPDOWN_SCRIPT}">

                            	${kfunc:registerEditableProperty(KualiForm, extraField.propertyName)}
                                <select id='${extraField.propertyName}'
							name='${extraField.propertyName}' onchange="${extraField.script}"
							style="">
							<kul:fieldSelectValues field="${extraField}" />
						</select>

						&nbsp;

							<kul:fieldShowIcons isReadOnly="${true}" field="${extraField}"
							addHighlighting="${true}" />

					</th:block>
				</th:block>
			</div>
		</th:block>

		<div class="right">
			<div class="excol">* required field</div>
		</div>
		<div class="msg-excol">
			<div class="left-errmsg">
				<div class="kfs-errors" data-key-match="*" th:if="${#fields.hasErrors('*')}"><h4>Errors found in Search Criteria:</h4></div>
				<div th:replace="~{fragments/kul/messages :: content}"></div>
			</div>
		</div>
		<br />
	</th:block>

	<table width="100%">
		<th:block th:if="${KualiForm.lookupCriteriaEnabled}">
			<tr>
				<td width="1%"><img
					src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif"
					alt="" width="20" height="20"></td>
				<td>

					<div id="lookup" align="center">
						<br /> <br />
						<table align="center" cellpadding="0" cellspacing="0"
							class="datatable-100">
							<!--/*/ <th:block th:with="FormName=KualiForm"> /*/-->
							<!--/*/ <th:block th:with="FieldRows=${KualiForm.lookupable.rows}"> /*/-->
							<!--/*/ <th:block th:with="ActionName=${KualiForm.htmlFormAction}"> /*/-->
							<!--/*/ <th:block th:with="IsLookupDisplay=true"> /*/-->
							<!--/*/ <th:block th:with="cellWidth=50%"> /*/-->

							<div class="kfs-row-display"></div>

							<tr align="center">
								<td height="30" colspan="${headerColspan}" class="infoline">

									<th:block th:if="${KualiForm.renderSearchButtons}">
										<input type="image" property="methodToCall.search" value="search"
											src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_search.gif"
											styleClass="tinybutton" alt="search" title="search"
											border="0" />
										<input type="image" property="methodToCall.clearValues"
											value="clearValues"
											src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_clear.gif"
											styleClass="tinybutton" alt="clear" title="clear" border="0" />
									</th:block> <th:block th:if="${KualiForm.formKey!=''}">
										<th:block th:if="${!empty KualiForm.backLocation}">
											<a
												href='<span th:text="${KualiForm.backLocation}?methodToCall=refresh&docFormKey=${KualiForm.formKey}&anchor=${KualiForm.lookupAnchor}&docNum=${KualiForm.docNum}"></span>'
												title="cancel"><img
												src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_cancel.gif"
												class="tinybutton" alt="cancel" title="cancel" border="0" />
											</a>
										</th:block>
										</th:block> <!-- Optional extra buttons --> <!--/*/ <th:block th:with="extraButtons=${KualiForm.extraButtons}"> /*/-->
									<div id="globalbuttons" class="globalbuttons">
										<th:block th:if="${!empty extraButtons}">
											<c:forEach items="${extraButtons}" var="extraButton">
												<input type="image" src="${extraButton.extraButtonSource}"
													styleClass="globalbuttons"
													property="${extraButton.extraButtonProperty}"
													title="${extraButton.extraButtonAltText}"
													alt="${extraButton.extraButtonAltText}" />
											</tr>
										</th:block>
									</div> <th:block th:if="${KualiForm.multipleValues && !empty KualiForm.backLocation}">
										<a
											href='<span th:text="${KualiForm.backLocation}?methodToCall=refresh&docFormKey=${KualiForm.formKey}&anchor=${KualiForm.lookupAnchor}&docNum=${KualiForm.docNum}"></span>'>
											<img
											src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_retnovalue.gif"
											class="tinybutton" border="0" /> </a>
										<a
											href='<span th:text="${KualiForm.backLocation}?methodToCall=refresh&docFormKey=${KualiForm.formKey}&refreshCaller=multipleValues&searchResultKey=${searchResultKey}&searchResultDataKey=${searchResultDataKey}&anchor=${KualiForm.lookupAnchor}&docNum=${KualiForm.docNum}"></span>'>
											<img
											src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_returnthese.gif"
											class="tinybutton" border="0" /> </a>
									</th:block>
								</td>
							</tr>
							</th:block>
						</table>
					</div> <br> <br> <th:block th:if="${reqSearchResultsActualSize>0}">
						<span th:text="${reqSearchResultsActualSize}"></span> items found.  Please refine your search criteria to narrow down your search.
            </th:block> <th:block th:if="${!empty reqSearchResultsActualSize }">
						<th:block th:if="${KualiForm.searchUsingOnlyPrimaryKeyValues}">
							<bean-el:message key="lookup.using.primary.keys"
								arg0="${KualiForm.primaryKeyFieldLabels}" />
							<br />
							<br />
						</th:block>
						<th:block th:if="${!empty reqSearchResults && !KualiForm.hasReturnableRow && KualiForm.formKey!='' && KualiForm.hideReturnLink!=true && !KualiForm.multipleValues}">
							<bean-el:message key="lookup.no.returnable.rows" />
							<br />
							<br />
						</th:block>

						<display:table class="datatable-100" cellspacing="0"
							requestURIcontext="false" cellpadding="0"
							name="${reqSearchResults}" id="row" export="true" pagesize="100"
							varTotals="totals"
							excludedParams="methodToCall reqSearchResultsActualSize searchResultKey searchUsingOnlyPrimaryKeyValues actionUrlsExist"
							requestURI="${KualiForm.htmlFormAction}.do?methodToCall=viewResults&reqSearchResultsActualSize=${reqSearchResultsActualSize}&searchResultKey=${searchResultKey}&searchUsingOnlyPrimaryKeyValues=${KualiForm.searchUsingOnlyPrimaryKeyValues}&actionUrlsExist=${KualiForm.actionUrlsExist}">
							
							<th:block th:if="${KualiForm.displayActionsForRow}">					
								<th:block th:if="${KualiForm.formKey != null}">
									<th:block th:switch="${true}">
										<th:block th:case="${row.actionUrls!=''}">
											<display:column class="infocell" property="actionUrls" title="Actions" media="html" />
										</th:block>
										<th:block th:case="*">
											<display:column class="infocell" title="Actions" media="html">&nbsp;</display:column>
										</th:block>
									</th:block>
								</th:block>
							</th:block>

							<%-- needed for total line display --%>
							<!--/*/ <th:block th:with="columnNums="> /*/-->
							<!--/*/ <th:block th:with="totalColumnNums="> /*/-->

							<c:forEach items="${row.columns}" var="column"
								varStatus="loopStatus">
								<!--/*/ <th:block th:with="colClass=${ fn:startsWith(column.formatter, 'org.kuali.rice.core.web.format.CurrencyFormatter') ? 'numbercell' : 'infocell' }"> /*/-->

								<th:block th:if="${!empty columnNums}">
									<!--/*/ <th:block th:with="columnNums=${columnNums},"> /*/-->
								</th:block>
								<!--/*/ <th:block th:with="columnNums=${columnNums}column${loopStatus.count}"> /*/-->

								<!--/*/ <th:block th:with="staticColumnValue=${column.propertyValue}"> /*/-->
								<th:block th:if="${column.total}">
									<!--/*/ <th:block th:with="staticColumnValue=${column.unformattedPropertyValue}"> /*/-->

									<th:block th:if="${!empty totalColumnNums}">
										<!--/*/ <th:block th:with="totalColumnNums=${totalColumnNums},"> /*/-->
									</th:block>
									<!--/*/ <th:block th:with="totalColumnNums=${totalColumnNums}column${loopStatus.count}"> /*/-->
								</th:block>

								<th:block th:switch="${true}">
									<%--NOTE: Check if exporting first, as this should be outputted without extra HTML formatting --%>
									<th:block th:case="${param['d-16544-e'] != null}">
										<display:column class="${colClass}"
											sortable="${column.sortable}" title="${column.columnTitle}"
											comparator="${column.comparator}" total="${column.total}"
											value="${staticColumnValue}" maxLength="${column.maxLength}">
											<c:out value="${column.propertyValue}" escapeXml="false"
												default="" />
										</display:column>
									</th:block>
									<th:block th:case="${!empty column.columnAnchor.href || column.multipleAnchors}">
										<display:column class="${colClass}"
											sortable="${column.sortable}" title="${column.columnTitle}"
											comparator="${column.comparator}">
											<th:block th:switch="${true}">
												<th:block th:case="${column.multipleAnchors}">
													<!--/*/ <th:block th:with="numberOfColumnAnchors=${column.numberOfColumnAnchors}"> /*/-->
													<th:block th:switch="${true}">
														<th:block th:case="${empty columnAnchor.target}">
															<!--/*/ <th:block th:with="anchorTarget=_blank"> /*/-->
														</th:block>
														<th:block th:case="*">
															<!--/*/ <th:block th:with="anchorTarget=${columnAnchor.target}"> /*/-->
														</th:block>
													</th:block>
													<!-- Please don't change formatting of this logic:iterate block -->
													<tr th:each="columnAnchor : ${column.columnAnchors}" indexId="ctr">
														<a href="<span th:text="${columnAnchor.href}"></span>"
															target='<span th:text="${columnAnchor.target}"></span>'
															title="${columnAnchor.title}"><c:out
																value="${fn:substring(columnAnchor.displayText, 0, column.maxLength)}"
																escapeXml="${column.escapeXMLValue}" /> <th:block th:if="${column.maxLength gt 0 && fn:length(columnAnchor.displayText) gt column.maxLength}">...</th:block>
														</a>
														<th:block th:if="${ctr lt numberOfColumnAnchors-1}">,&nbsp;</th:block>
													</tr>
												</th:block>
												<th:block th:case="*">
													<th:block th:switch="${true}">
														<th:block th:case="${empty column.columnAnchor.target}">
															<!--/*/ <th:block th:with="anchorTarget=_blank"> /*/-->
														</th:block>
														<th:block th:case="*">
															<!--/*/ <th:block th:with="anchorTarget=${column.columnAnchor.target}"> /*/-->
														</th:block>
													</th:block>
													<a href="<span th:text="${column.columnAnchor.href}"></span>"
														target='<span th:text="${anchorTarget}"></span>'
														title="${column.columnAnchor.title}"><c:out
															value="${fn:substring(column.propertyValue, 0, column.maxLength)}"
															escapeXml="${column.escapeXMLValue}" /> <th:block th:if="${column.maxLength gt 0 && fn:length(column.propertyValue) gt column.maxLength}">...</th:block>
													</a>
												</th:block>
											</th:block>
										</display:column>
									</th:block>
									<%--NOTE: DO NOT FORMAT THIS FILE, DISPLAY:COLUMN WILL NOT WORK CORRECTLY IF IT CONTAINS LINE BREAKS --%>
									<th:block th:case="*">
										<display:column class="${colClass}"
											sortable="${column.sortable}" title="${column.columnTitle}"
											comparator="${column.comparator}" total="${column.total}"
											value="${staticColumnValue}" maxLength="${column.maxLength}"
											decorator="org.kuali.rice.kns.web.ui.FormatAwareDecorator">
											<span th:text="${column.propertyValue}"></span>&nbsp;</display:column>
									</th:block>
								</th:block>
							</tr>

							<%-- block for displaying the total line --%>
							<th:block th:if="${!empty totalColumnNums}">
								<display:footer>
									<tr>
										<c:forTokens var="colNum" items="${columnNums}" delims=","
											varStatus="loopStatus">
											<!--/*/ <th:block th:with="isTotalColumn=false"> /*/-->

											<c:forTokens var="totalNum" items="${totalColumnNums}"
												delims=",">
												<th:block th:if="${totalNum eq colNum}">
													<!--/*/ <th:block th:with="isTotalColumn=true"> /*/-->
												</th:block>
											</c:forTokens>

											<th:block th:switch="${true}">
												<th:block th:case="${isTotalColumn}">
													<td><b><fmt:formatNumber type="currency"
																value="${totals[colNum]}" /> </b></td>
												</th:block>
												<th:block th:case="*">
													<td><th:block th:if="${loopStatus.first}">
															<b><bean-el:message key="lookup.total.row.label" />
															</b>
														</th:block>
													</td>
												</th:block>
											</th:block>

										</c:forTokens>
									</tr>
								</display:footer>
							</th:block>

						</display:table>
					</th:block></td>
				<td width="1%"><img
					src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif"
					alt="" width="20" height="20"></td>
			</tr>
	</table>
  </form>
</div>
</body>
</html>
