<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/tem/expenses/importedExpenses.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="importedExpenseAttributes=${DataDictionary.ImportedExpense.attributes}"> /*/-->
<!--/*/ <th:block th:with="temExtension=${DataDictionary.ExpenseTypeObjectCode.attributes}"> /*/-->

<jsp:useBean id="paramMap" class="java.util.HashMap" />
  
    <div class="tab-container" align="center">
    <h3>Imported Expenses</h3>
    <table cellpadding="0" cellspacing="0" class="datatable" summary="Imported Expenses">
		<tr>
			<td colspan="13" class="tab-subhead">
				<span class="left">* All fields required if section is used</span>
				<th:block th:if="${fullEntryMode}">
					<span class="right">
						<kul:multipleValueLookup boClassName="org.kuali.kfs.module.tem.businessobject.HistoricalTravelExpense" lookedUpBODisplayName="Imported Expense"
	        	        	lookedUpCollectionName="historicalTravelExpenses" anchor="${tabKey}" />
					</span>
				</th:block>
			</td>
		</tr>
		
		<logic:iterate indexId="ctr" name="KualiForm"
			property="document.importedExpenses" id="currentLine">
			<!--/*/ <th:block th:with="lineCounter=${lineCounter + 1}"> /*/-->
			<tr>
				<td class="infoline" colspan="13"><div align="center">&nbsp;</div></td>
	        </tr>
	        <div th:replace="~{fragments/tem/exp/importedExpenseHeader :: content}" data-is-c-t-s="${currentLine.cardType == TemConstants.CARD_TYPE_CTS}" data-line-number="${lineCounter}"></div>	        
			<div th:replace="~{fragments/tem/exp/importedExpenseLine :: content}" data-line-number="${lineCounter}" data-expense="document.importedExpenses[${ctr }]" data-detail-object="${KualiForm.document.importedExpenses[ctr]}"></div>
			
			<tr>
		  		<td colspan="13">
		  			<th:block th:if="${(currentLine.cardType != TemConstants.CARD_TYPE_CTS && KualiForm.canShowImportExpenseDetails)}">
		  				<kul:subtab lookedUpCollectionName="details${ctr}" 
					  		width="${tableWidth}" 
					  		subTabTitle="Imported Expense Details - ${currentLine.expenseTypeObjectCode.expenseType.name} - ${lineCounter}" 
					  		noShowHideButton="false"
					  		open="${'' }${(fn:length(KualiForm.document.importedExpenses[ctr].expenseDetails) > 0) }">
					  		<table cellpadding="0" cellspacing="0" class="datatable">
				  				<div th:replace="~{fragments/tem/exp/importedExpenseDetailHeader :: content}"></div>						            
						        <th:block th:if="${fullEntryMode}">
									<div th:replace="~{fragments/tem/exp/importedExpenseDetailLine :: content}" data-line-number="${ctr}" data-detail="newImportedExpenseLines[${ctr}]" data-parent-object="${KualiForm.document.importedExpenses[ctr]}" data-detail-object="${KualiForm.document.importedExpenses[ctr]}"></div>
								</th:block>
								<logic:iterate indexId="ctrDetail" name="currentLine"
									property="expenseDetails" id="currentLineDetails">
									<!--/*/ <th:block th:with="lineCounterDetails=${lineCounterDetails + 1}"> /*/-->
									<div th:replace="~{fragments/tem/exp/importedExpenseDetailLine :: content}" data-detail="document.importedExpenses[${ctr}].expenseDetails[${ctrDetail}]" data-line-number="${ctr}" data-parent-object="${KualiForm.document.importedExpenses[ctr]}" data-detail-object="${KualiForm.document.importedExpenses[ctr].expenseDetails[ctrDetail]}" data-detail-line-number="${ctrDetail}"></div>							           
								</tr>
							</table>
				  		</div><!-- /kul:subtab -->
		  			</th:block>
			  	</td>
			</tr>
		</tr>
	</table>
 </div>
</div>
