<!DOCTYPE html>
<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf template converted from JSP: module/ar/CustomerInvoiceWriteoffDocument.jsp -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:kfs="http://www.thymeleaf.org/kfs">
<head>
  <meta charset="UTF-8" />
  <title th:text="${documentTitle}">module/ar/CustomerInvoiceWriteoffDocument</title>
</head>
<body>
<div class="kfs-document-page" data-document-type="CustomerInvoiceWriteoffDocument">
  <form action="arCustomerInvoiceWriteoffDocument.do" method="post" enctype="multipart/form-data">
	
	<!--/*/ <th:block th:with="displayInitTab=${KualiForm.editingMode['displayInitTab']}"> /*/-->
	
	<div th:replace="~{fragments/sys/hiddenDocumentFields :: content}" data-is-financial-document="false"></div>

	<!--  Display 1st screen -->
	<th:block th:if="${displayInitTab}">
		<div th:replace="~{fragments/ar/customerInvoiceWriteoffInit :: content}"></div>
		<div class="kfs-panel-footer"></div>
	</th:block>

	<!--  Display 2nd screen -->
	<th:block th:if="${not displayInitTab}">
		<div th:replace="~{fragments/kul/documentOverview :: content}"></div>

		<div th:replace="~{fragments/ar/customerInvoiceWriteoffHiddenFields :: content}"></div>

		<div th:replace="~{fragments/ar/customerInvoiceSummary :: content}" data-customer-invoice-document-attributes="${DataDictionary.CustomerInvoiceDocument.attributes}" data-document-attributes="${DataDictionary.CustomerInvoiceWriteoffDocument.attributes}" data-customer-attributes="${DataDictionary.Customer.attributes}" data-customer-address-attributes="${DataDictionary.CustomerAddress.attributes}"></div> 
	
		<div th:replace="~{fragments/ar/customerInvoiceWriteoffDetails :: content}"></div>

      	<div th:replace="~{fragments/gl/generalLedgerPendingEntries :: content}"></div>
    	<div th:replace="~{fragments/kul/notes :: content}"></div>
		<div th:replace="~{fragments/kul/adHocRecipients :: content}"></div>
		<div th:replace="~{fragments/kul/routeLog :: content}"></div>
		<div th:replace="~{fragments/kul/superUserActions :: content}"></div>
		<div class="kfs-panel-footer"></div>
	</th:block>

	<!--/*/ <th:block th:with="extraButtons=${KualiForm.extraButtons}"> /*/-->
  	<kul:documentControls transactionalDocument="true" extraButtons="${extraButtons}" suppressRoutingControls="${displayInitTab}" />

  </form>
</div>
</body>
</html>
