<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Customer Invoice Writeoff Lookup Summary</title>
</head>
<body>
<div layout:fragment="content">
<div class="kfs-page" data-header-title="Customer Invoice Writeoff Summary" data-doc-title="Customer Invoice Writeoff Summary">
<h1>Customer Invoice Writeoff Summary</h1>
<form th:action="@{arCustomerInvoiceWriteoffLookupSummary}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="page-body">
		
	<div th:replace="~{fragments/ar/customerInvoiceWriteoffSummaryResults :: customerInvoiceWriteoffSummaryResults}" th:with="customerInvoiceDocumentAttributes=${DataDictionary.CustomerInvoiceDocument.attributes}"></div>
	
	<div th:replace="~{fragments/panelFooter :: panelFooter}"></div>

	<div id="globalbuttons" class="globalbuttons">
		<th:block th:if="${KualiForm.sentToBatch}"> 
		<input type="image" th:src="@{${ConfigProperties.externalizable.images.url}buttonsmall_return.gif}" styleClass="globalbuttons" property="methodToCall.cancel" title="claim" alt="claim"/>
		</th:block>
		<th:block th:if="${!KualiForm.sentToBatch}">
		<input type="image" th:src="@{${ConfigProperties.externalizable.images.url}buttonsmall_create.gif}" styleClass="globalbuttons" property="methodToCall.createCustomerInvoiceWriteoffs" title="claim" alt="claim"/>
		<input type="image" th:src="@{${ConfigProperties.kr.externalizable.images.url}buttonsmall_cancel.gif}" styleClass="globalbuttons" property="methodToCall.cancel" title="cancel" alt="cancel"/>
		</th:block>
	</div>
</div>
</div>
</div>
</body>
</html>
