<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Customer Invoice Writeoff Document</title>
</head>
<body>
<div layout:fragment="content">
<div class="document-page" data-document-type="CustomerInvoiceWriteoffDocument" data-form-action="arCustomerInvoiceWriteoffDocument" data-show-document-info="true">
<form th:action="@{arCustomerInvoiceWriteoffDocument}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="document-body">
	
	<c:set var="displayInitTab" value="${KualiForm.editingMode['displayInitTab']}" scope="request" />
	
	<sys:hiddenDocumentFields isFinancialDocument="false" />

	<!--  Display 1st screen -->
	<th:block th:if="${displayInitTab}">
		<div th:replace="~{fragments/ar/customerInvoiceWriteoffInit :: customerInvoiceWriteoffInit}"></div>
		<div th:replace="~{fragments/panelFooter :: panelFooter}"></div>
	</th:block>

	<!--  Display 2nd screen -->
	<th:block th:if="${not displayInitTab}">
		<kul:documentOverview editingMode="${KualiForm.editingMode}" />

		<div th:replace="~{fragments/ar/customerInvoiceWriteoffHiddenFields :: customerInvoiceWriteoffHiddenFields}"></div>

		<div th:replace="~{fragments/ar/customerInvoiceSummary :: customerInvoiceSummary}" th:with="customerInvoiceDocumentAttributes=${DataDictionary.CustomerInvoiceDocument.attributes},documentAttributes=${DataDictionary.CustomerInvoiceWriteoffDocument.attributes},customerAttributes=${DataDictionary.Customer.attributes},customerAddressAttributes=${DataDictionary.CustomerAddress.attributes}"></div> 
	
		<div th:replace="~{fragments/ar/customerInvoiceWriteoffDetails :: customerInvoiceWriteoffDetails}"></div>

      	<div th:replace="~{fragments/generalLedgerPendingEntries :: glpe}"></div>
    	<div th:replace="~{fragments/notes :: notes}"></div>
		<div th:replace="~{fragments/adHocRecipients :: adHocRecipients}"></div>
		<div th:replace="~{fragments/routeLog :: routeLog}"></div>
		<div th:replace="~{fragments/superUserActions :: superUserActions}"></div>
		<div th:replace="~{fragments/panelFooter :: panelFooter}"></div>
	</th:block>

	<c:set var="extraButtons" value="${KualiForm.extraButtons}" scope="request"/>
  	<kul:documentControls transactionalDocument="true" extraButtons="${extraButtons}" suppressRoutingControls="${displayInitTab}" />

</div>
</div>
</div>
</body>
</html>
