<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/ec/detailLineTotal.tag -->
<!-- Fragment parameters: index, readOnlySection, totalFieldNames, hasActions -->
<div th:fragment="content (index, readOnlySection, totalFieldNames, hasActions)" xmlns:th="http://www.thymeleaf.org">
<%@ tag description="render the totals of the given field in the given detail lines" %>

<!--/*/ <th:block th:with="readonlySuffix=${readOnlySection ? '.readonly' : ''}"> /*/--> 

<c:forTokens var="fieldName" items="${totalFieldNames}" delims=","	varStatus="status">
	<!--/*/ <th:block th:with="percent=${fn:contains(fieldName, 'Percent') ? '%' : '' }"> /*/-->
	<td class="infoline">
		<div id="document.${fieldName}${readonlySuffix}" class="right">
			<th:block th:switch="${true}">
				<th:block th:case="${empty percent}">
					<fmt:formatNumber value="${KualiForm.document[fieldName]}" currencySymbol="" type="currency"/>
				</th:block>
				<th:block th:case="*">
					<span th:text="${#numbers.formatDecimal(${KualiForm.document[fieldName]}, 1, 2)}"></span>${percent}
				</th:block>
			</th:block>
		</div>
	</td>
</c:forTokens>

<th:block th:if="${hasActions}">
	<td class="infoline">
		<div align="center"><jsp:doBody /></div>
	</td>
</th:block>
</div>
