<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/ec/reportInformation.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<section class="kfs-tab" data-tab-title="Report Information" data-default-open="true">
  <h3>Report Information</h3>
	<!--/*/ <th:block th:with="erAttributes=${DataDictionary.EffortCertificationDocument.attributes}"> /*/-->
	<!--/*/ <th:block th:with="document=${KualiForm.document}"> /*/-->
	<!--/*/ <th:block th:with="dateFormatPattern=MM/dd/yyyy"> /*/-->

 	<div class="tab-container" align=center > 
		<h3>Report Information</h3>
		
	 	<table summary="" cellpadding="0" cellspacing="0"><tbody>
			<tr>
				<th scope="row">
					<div align="right">
						<label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${erAttributes['employee.name']}"></label>
					</div>
				</th>
			    <td>
			    	<span class="kfs-inquiry" data-bo-class="org.kuali.rice.kim.api.identity.Person" data-key-values="employeeId=${document.emplid}&principalId=${document.employee.principalId}">
						${document.employee.name}
					</span>
				</td>
			
				<th scope="row">
					<div align="right">
						<label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${erAttributes['effortCertificationReportDefinition.effortCertificationReportBeginFiscalYear']}"></label>
					</div>
				</th>
				<td>
					<span th:text="${#dates.format(${KualiForm.reportPeriodBeginDate}, &apos;${dateFormatPattern}&apos;)}"></span>
				</td>
			</tr>
			
			<tr>
			  	<th scope="row">
			  		<div align="right">
			  			<label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${erAttributes.effortCertificationReportNumber}"></label>
			  		</div>
			    </th>
			    <td>
			         <span class="kfs-inquiry" data-bo-class="org.kuali.kfs.module.ec.businessobject.EffortCertificationReportDefinition" data-key-values="universityFiscalYear=${document.universityFiscalYear}&effortCertificationReportNumber=${document.effortCertificationReportNumber}">
			         	${document.universityFiscalYear}-${document.effortCertificationReportNumber}
					</span>
					
					<th:block th:if="${document.effortCertificationDocumentCode}">
					  &nbsp;&nbsp;<font color="red"><span th:text="#{${__MSG_KEY__}}"></span></font>
					</th:block>
				</td>
			
				<th scope="row">
					<div align="right">
						<label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${erAttributes['effortCertificationReportDefinition.effortCertificationReportEndFiscalYear']}"></label>
					</div>
				</th>
				<td>
					<fmt:formatDate 
						value="${KualiForm.reportPeriodEndDate}" 
						pattern ="${dateFormatPattern}"/>
				</td>
			</tr>   
	     </tbody></table>
	</div>
</section>
</div>
