<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Trial Balance Report Lookup</title>
</head>
<body>
<div layout:fragment="content">
<!-- ASR-1212 Trial Balance -->

<!-- th:with="trialBalanceReportAttributes=${DataDictionary.TrialBalanceReport.attributes}" -->
	
<div class="kfs-page" data-header-title="Lookup" data-doc-title="">
<h1>Lookup</h1>
<form th:action="@{glTrialBalance}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="page-body">

	<div class="headerarea-small" id="headerarea-small">
	<h1><span th:text="${KualiForm.lookupable.title}"></span> <kul:help parameterName="TB_LOOKUP_HELP" altText="lookup help" /></h1>
	</div>

	<kul:enterKey methodToCall="search" />

	<html-el:hidden name="KualiForm" property="backLocation" />
	<html-el:hidden name="KualiForm" property="formKey" />
	<html-el:hidden name="KualiForm" property="lookupableImplServiceName" />
	<html-el:hidden name="KualiForm" property="businessObjectClassName" />
	<html-el:hidden name="KualiForm" property="conversionFields" />
	<html-el:hidden name="KualiForm" property="hideReturnLink" />

	<kul:errors errorTitle="Errors found in Search Criteria:" />

	<table width="100%">
		<tr>
			<td width="1%"><img src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif" alt="" width="20"
				height="20" /></td>
			<td>
			<div id="lookup" align="center"><br />
			<br />
			<table class="datatable-100" align="center" cellpadding="0"	cellspacing="0">
				<c:set var="FormName" value="KualiForm" scope="request" />
				<c:set var="FieldRows" value="${KualiForm.lookupable.rows}"	scope="request" />
				<c:set var="ActionName" value="glTrialBalance.do" scope="request" />
				<c:set var="IsLookupDisplay" value="true" scope="request" />

				<kul:rowDisplay rows="${KualiForm.lookupable.rows}" skipTheOldNewBar="true" numberOfColumns="1"/>

				<tr align=center>
					<td height="30" colspan=2 class="infoline">
					<html:image
						property="methodToCall.search" value="search"
						src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_search.gif" styleClass="tinybutton"
						alt="search" title="search" border="0" /> 
					<html:image
						property="methodToCall.clearValues" value="clearValues"
						src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_clear.gif" styleClass="tinybutton"
						alt="clear" title="clear" border="0" /> 
					<th:block th:if="${KualiForm.formKey!=''}">
						<a
							href='<c:out value="${KualiForm.backLocation}?methodToCall=refresh&docFormKey=${KualiForm.formKey}" />'>
						<img src="${ConfigProperties.kr.externalizable.images.url}buttonsmall_cancel.gif" class="tinybutton"
							border="0" alt="cancel" title="cancel" /> </a>
					</th:block><!-- Optional extra button -->
					<html:image
						property="methodToCall.print" value="print"
						src="${ConfigProperties.externalizable.images.url}buttonsmall_genprintfile.gif" styleClass="tinybutton"
						alt="print" title="print" border="0" /> 
					<th:block th:if="${not empty KualiForm.lookupable.extraButtonSource}">
						<a
							href='<c:out value="${KualiForm.backLocation}?methodToCall=refresh&refreshCaller=org.kuali.rice.kns.lookup.KualiLookupableImpl&docFormKey=${KualiForm.formKey}" /><span th:text="${KualiForm.lookupable.extraButtonParams}"></span>'  title="cancel">
						<img
							src='<span th:text="${KualiForm.lookupable.extraButtonSource}"></span>'
							class="tinybutton"  border="0" alt="cancel"/></a>
						</th:block>
					</td>
				</tr>
			</table>
			</div>

			<br />
			<br />

		</td>
		</tr>
	</table>
	
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td><th:block th:if="${!empty reqSearchResultsSize}">

				<c:set var="exporting" value="${!empty param['d-16544-e']}"
					scope="request" />
				<display:table class="datatable-100" cellspacing="0" cellpadding="0"
					name="${reqSearchResults}" id="row" export="true" pagesize="100"
					defaultsort="1"
					requestURI="glTrialBalance.do?methodToCall=viewResults&reqSearchResultsSize=${reqSearchResultsSize}&searchResultKey=${searchResultKey}">

					<th:block th:each="column : ${row.columns}">

						<th:block th:if="${!empty column.columnAnchor.title}">
							<!-- th:with="title=${column.columnAnchor.title}" -->
						</th:block>
						<th:block th:if="${empty column.columnAnchor.title}">
							<!-- th:with="title=${column.propertyValue}" -->
						</th:block>
						<th:block th:switch="${true}">

							<th:block th:case="${column.formatter.implementationClass == 'org.kuali.rice.kns.web.format.CurrencyFormatter'}">

								<display:column class="numbercell" sortable="true"
									decorator="org.kuali.rice.kns.web.ui.FormatAwareDecorator"
									title="${column.columnTitle}" comparator="${column.comparator}">

									<th:block th:switch="${true}">

										<th:block th:case="${column.propertyURL != \"\"}">
											<a href="<span th:text="${column.propertyURL}"></span>"
												title="<span th:text="${title}"></span>" target="blank"><span th:text="${column.propertyValue}"></span></a>
										</th:block>

										<th:block th:case="*">
											<span th:text="${column.propertyValue}"></span>
										</th:block>
									</th:block>
								</display:column>

							</th:block>

							<th:block th:case="*">

								<th:block th:switch="${true}">

									<th:block th:case="${column.propertyURL != \"\"}">

										<display:column class="infocell" sortable="${column.sortable}"
											decorator="org.kuali.rice.kns.web.ui.FormatAwareDecorator"
											title="${column.columnTitle}"
											comparator="${column.comparator}">

											<a href="<span th:text="${column.columnAnchor.href}"></span>"
												title="${column.columnAnchor.title}" target="blank"><span th:text="${column.propertyValue}"></span></a>

										</display:column>

									</th:block>

									<th:block th:case="*">

										<display:column class="infocell" sortable="${column.sortable}"
											decorator="org.kuali.rice.kns.web.ui.FormatAwareDecorator"
											title="${column.columnTitle}"
											comparator="${column.comparator}">
												<span th:text="${column.propertyValue}"></span>
										</display:column>

									</th:block>

								</th:block>

							</th:block>

						</th:block>

					</th:block>
					<th:block th:if="${param['d-16544-e'] == null}">
						<logic:present name="KualiForm" property="formKey">
							<th:block th:if="${KualiForm.formKey!='' && KualiForm.hideReturnLink!=true && !KualiForm.multipleValues && param.inquiryFlag != 'true'}">
								<display:column class="infocell" property="returnUrl"
									media="html" />
							</th:block>
							<th:block th:if="${row.actionUrls!='' && KualiForm.suppressActions!=true && !KualiForm.multipleValues && KualiForm.showMaintenanceLinks}">
								<display:column class="infocell" property="actionUrls"
									title="Actions" media="html" />
							</th:block>
						</logic:present>
					</th:block>
				</display:table></td>
			</th:block>
			<td width="1%"><img
				src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif"
				alt="" height="20" width="20"></td>
		</tr>
	</table>
	<th:block th:if="${!empty KualiForm.message }">
 			${KualiForm.message }	
    </th:block>
</div>
</div>
</div>
</body>
</html>
