<!DOCTYPE html>
<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf template converted from JSP: module/cams/AssetPayment.jsp -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:kfs="http://www.thymeleaf.org/kfs">
<head>
  <meta charset="UTF-8" />
  <title th:text="${documentTitle}">module/cams/AssetPayment</title>
</head>
<body>
<!--/*/ <th:block th:with="readOnly=${!KualiForm.documentActions[Constants.KUALI_ACTION_CAN_EDIT]}"> /*/-->

<div class="kfs-document-page" data-document-type="AssetPaymentDocument">
  <form action="camsAssetPayment.do" method="post" enctype="multipart/form-data">
	<div th:replace="~{fragments/sys/documentOverview :: content}" data-editing-mode="${KualiForm.editingMode}"></div>
	<input type="hidden" th:field="*{document.capitalAssetNumber}" />
	
	<div th:replace="~{fragments/cams/assetPaymentAllocation :: content}"></div>
	<div th:replace="~{fragments/cams/assetPayments :: content}"></div>

	<section class="kfs-tab" data-tab-title="Accounting Lines" data-default-open="true">
  <h3>Accounting Lines</h3>
		<th:block th:switch="${true}">
			<th:block th:case="${KualiForm.document.capitalAssetBuilderOriginIndicator }">
				<div class="kfs-sys-java-accountingLines" th:include="~{fragments/sys/java/accountingLines :: content}">
					<div th:replace="~{fragments/sys/java/accountingLineGroup :: content}" data-collection-property-name="document.sourceAccountingLines" data-collection-item-property-name="document.sourceAccountingLines" data-attribute-group-name="source"></div>
				</div><!-- /kfs-sys-java-accountingLines -->
			</th:block>
			<th:block th:case="*">
				<div class="kfs-sys-java-accountingLines" th:include="~{fragments/sys/java/accountingLines :: content}">
					<div th:replace="~{fragments/sys/java/accountingLineGroup :: content}" data-new-line-property-name="newSourceLine" data-collection-property-name="document.sourceAccountingLines" data-collection-item-property-name="document.sourceAccountingLines" data-attribute-group-name="source"></div>
				</div><!-- /kfs-sys-java-accountingLines -->
			</th:block>
		</th:block>
	</section>
	<div th:replace="~{fragments/cams/viewPaymentInProcessByAsset :: content}" data-asset-payment-asset-detail="${KualiForm.document.assetPaymentAssetDetail}" data-asset-payment-detail="${KualiForm.document.sourceAccountingLines}" data-asset-payment-distribution="${KualiForm.document.assetPaymentDistributor.assetPaymentDistributions}"></div>

	<div th:replace="~{fragments/kul/notes :: content}"></div>
	<div th:replace="~{fragments/kul/adHocRecipients :: content}"></div>
	<div th:replace="~{fragments/kul/routeLog :: content}"></div>
	<div th:replace="~{fragments/kul/superUserActions :: content}"></div>
	<div class="kfs-panel-footer"></div>
	<div th:replace="~{fragments/sys/documentControls :: content}" data-transactional-document="${documentEntry.transactionalDocument}"></div>
  </form>
</div>
</body>
</html>
