<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/ar/customerCreditMemoInit.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="documentAttributes=${DataDictionary.CustomerCreditMemoDocument.attributes}"> /*/-->
              
<section class="kfs-tab" data-tab-title="Customer Credit Memo Initiation" data-default-open="true">
  <h3>Customer Credit Memo Initiation</h3>
    <div class="tab-container" align=center>
        <h3>Credit Memo Initiation</h3>
        <table cellpadding="0" cellspacing="0" class="datatable" summary="Credit Memo Init Section" >
            <tr>
                <th align=right valign=middle class="bord-l-b" >
                   <div align="right">
                   		<label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.financialDocumentReferenceInvoiceNumber}"></label>
                   </div>
                </th>
                <td align=left valign=middle class="datacell" style="width: 50%;" >
                   <input type="text" name="document.financialDocumentReferenceInvoiceNumber" th:field="*{document.financialDocumentReferenceInvoiceNumber}" data-attribute-entry="${documentAttributes.financialDocumentReferenceInvoiceNumber}" />
                   <span class="kfs-lookup" data-bo-class="org.kuali.kfs.module.ar.businessobject.CustomerInvoiceLookup" th:replace="~{fragments/kul/lookup :: content}"></span>  
                </td>
            </tr>
		</table> 
    </div>
</section>
</div>
