<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/ar/paymentApplicationSummaryOfAppliedFunds.tag -->
<!-- Fragment parameters: hasRelatedCashControlDocument, readOnly, isCustomerSelected -->
<div th:fragment="content (hasRelatedCashControlDocument, readOnly, isCustomerSelected)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="docHeaderAttributes=${DataDictionary.FinancialSystemDocumentHeader.attributes}"> /*/-->

<section class="kfs-tab" data-tab-title="Summary of Applied Funds" data-default-open="${isCustomerSelected}">
  <h3>Summary of Applied Funds</h3>
	<div class="tab-container" align="center">
		<th:block th:switch="${true}">
			<th:block th:case="${!isCustomerSelected}">
		    		No Customer Selected
	    	</th:block>
			<th:block th:case="*">
			    <h3>Summary of Applied Funds</h3>
				<table width="100%" cellpadding="0" cellspacing="0"
					class="datatable">
					<tr>
						<td style='vertical-align: top;' colspan='2'>
							<th:block th:switch="${true}">
								<th:block th:case="${empty KualiForm.document.invoicePaidApplieds}">
								   		No applied payments.
							   	</th:block>
								<th:block th:case="*">
									<table width="100%" cellpadding="0" cellspacing="0"
										class="datatable">
										<tr>
											<td colspan='4' class='tab-subhead'>
												Applied Funds
											</td>
										</tr>
										<tr>
											<th>
												Invoice Nbr
											</th>
											<th>
												Item #
											</th>
											<th>
												Inv Item Desc
											</th>
											<th>
												Applied Amount
											</th>
										</tr>
										<tr th:each="invoicePaidApplied : ${KualiForm.document.invoicePaidApplieds}" indexId="ctr">
											<tr>
												<td>
													<span th:text="${invoicePaidApplied.financialDocumentReferenceInvoiceNumber}"></span>
												</td>
												<td>
													<span th:text="${invoicePaidApplied.invoiceItemNumber}"></span>
												</td>
												<td>
													<span th:text="${invoicePaidApplied.invoiceDetail.invoiceItemDescription}"></span>&nbsp;
												</td>
												<td style="text-align: right;">
													$<span th:text="${invoicePaidApplied.invoiceItemAppliedAmount}"></span>
												</td>
											</tr>
										</tr>
									</table>
								</th:block>
							</th:block>
						</td>
						<td valign='top'>
                            <!--/*/ <th:block th:with="showCCAndBtbA=${hasRelatedCashControlDocument}"> /*/-->
                            <table class='datatable'>
								<tr>
									<td colspan='3' class='tab-subhead'>
										Unapplied Funds
									</td>
								</tr>
								<tr>
									<th:block th:if="${!showCCAndBtbA}">
		                        	    <th:block th:if="${readOnly ne true}">
											<th class='tab-subhead'>
												Total Unapplied Funds
											</th>
											<th class='tab-subhead'>
												Open Amount
											</th>
										</th:block>
									</th:block>
									<th:block th:if="${showCCAndBtbA}">
										<th class='tab-subhead'>
											Cash Control
										</th>
										<th class='tab-subhead'>
											Open Amount
										</th>
									</th:block>
									<th class='tab-subhead'>
										Applied Amount
                                    </th>
								</tr>
								<tr>
								    <th:block th:if="${!showCCAndBtbA}">
		                        	    <th:block th:if="${readOnly ne true}">
											<td style="text-align: right;">
												${KualiForm.totalFromControl}
												<!--$<span th:text="${KualiForm.totalFromControl}"></span>-->
											</td>
											<td style="text-align: right;">
												${KualiForm.unallocatedBalance}												
												<!--$<span th:text="${KualiForm.unallocatedBalance}"></span>-->
											</td>
										</th:block>
									</th:block>
									<th:block th:if="${showCCAndBtbA}">
										<td style="text-align: right;">											 
											 ${KualiForm.document.documentHeader.financialDocumentTotalAmount}
										</td>
										<td style="text-align: right;">
											${KualiForm.unallocatedBalance}									
											<!--$<span th:text="${KualiForm.unallocatedBalance}"></span>-->
										</td>
									</th:block>
									<td style="text-align: right;">
										${KualiForm.totalApplied}								
										<!--$<span th:text="${KualiForm.totalApplied}"></span>-->
									</td>
								</tr>
							</table>
						<td>
					</tr>
				</table>
			</th:block>
		</th:block>
	</div>
</section>
</div>
