<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: portal/portalLink.tag -->
<!-- Fragment parameters: url, title, displayTitle, prefix -->
<div th:fragment="content (url, title, displayTitle, prefix)" xmlns:th="http://www.thymeleaf.org">
<%--

 --%><!--/*/ <th:block th:with="backdoorPortalUrlAddition="> /*/-->
<!--/*/ <th:block th:with="backdoorMainUrlAddition="> /*/-->
<th:block th:if="${UserSession.backdoorInUse}">
	<%-- Can't add this.  If on the main (portal) request, it assumes this was a
	 backdoor login request and appends an additional parameter which causes some forms to blow 
	<!--/*/ <th:block th:with="backdoorPortalUrlAddition=&backdoorId=${UserSession.principalName}"> /*/-->
	 --%>
	<th:block th:switch="${true}">
		<th:block th:case="${#strings.contains(url,'?')}">
			<!--/*/ <th:block th:with="backdoorMainUrlAddition=&backdoorId=${UserSession.principalName}"> /*/-->
		</th:block>
		<th:block th:case="*">
			<!--/*/ <th:block th:with="backdoorMainUrlAddition=?backdoorId=${UserSession.principalName}"> /*/-->
		</th:block>
	</th:block>
</th:block>

<th:block th:if="${displayTitle}">
  <a class="portal_link" href="${prefix}portal.do?channelTitle=${title}&channelUrl=${url}${backdoorMainUrlAddition}"  title="${title}">${title}</a>
</th:block>
<th:block th:if="${! displayTitle}">
  <a class="portal_link" href="${prefix}portal.do?channelTitle=${title}&channelUrl=${url}${backdoorMainUrlAddition}" title="${title}"><jsp:doBody/></a>
</th:block>
</div>
