<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/purap/paymentRequestInvoiceInfo.tag -->
<!-- Fragment parameters: documentAttributes, displayPaymentRequestInvoiceInfoFields -->
<div th:fragment="content (documentAttributes, displayPaymentRequestInvoiceInfoFields)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="fullEntryMode=${KualiForm.documentActions[Constants.KUALI_ACTION_CAN_EDIT] && (empty KualiForm.editingMode['restrictFiscalEntry'])}"> /*/-->
<!--/*/ <th:block th:with="fullDocumentEntryCompleted=${not empty KualiForm.editingMode['fullDocumentEntryCompleted']}"> /*/-->
<!--/*/ <th:block th:with="purchaseOrderAttributes=${DataDictionary.PurchaseOrderDocument.attributes}"> /*/-->
<!--/*/ <th:block th:with="editPreExtract=${(not empty KualiForm.editingMode['editPreExtract'])}"> /*/-->
<!--/*/ <th:block th:with="tabindexOverrideBase=40"> /*/-->

<section class="kfs-tab" data-tab-title="Invoice Info" data-default-open="true">
  <h3>Invoice Info</h3>
    <div class="tab-container" align=center>
            <h3>Invoice Info</h3>

        <table cellpadding="0" cellspacing="0" class="datatable" summary="Invoice Info Section">

            <tr>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.invoiceNumber}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.invoiceNumber" th:field="*{document.invoiceNumber}" data-attribute-entry="${documentAttributes.invoiceNumber}" />
                </td>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.purchaseOrderIdentifier}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.purchaseOrderIdentifier" th:field="*{document.purchaseOrderIdentifier}" data-attribute-entry="${documentAttributes.purchaseOrderIdentifier}" readonly="readonly" />
                </td>
            </tr>
            
            <tr>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.paymentRequestPayDate}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.paymentRequestPayDate" th:field="*{document.paymentRequestPayDate}" data-attribute-entry="${documentAttributes.paymentRequestPayDate}" />
                   &nbsp; &nbsp;<input type="text" name="document.immediatePaymentIndicator" th:field="*{document.immediatePaymentIndicator}" data-attribute-entry="${documentAttributes.immediatePaymentIndicator}" />
                   (Immediate Pay)
                </td>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.purchaseOrderNotes}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.purchaseOrderNotes" th:field="*{document.purchaseOrderNotes}" data-attribute-entry="${documentAttributes.purchaseOrderNotes}" readonly="readonly" />
                </td>
            </tr>
            
            <tr>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.invoiceDate}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.invoiceDate" th:field="*{document.invoiceDate}" data-attribute-entry="${documentAttributes.invoiceDate}" />
                </td>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.paymentRequestCostSourceCode}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.paymentRequestCostSourceCode" th:field="*{document.paymentRequestCostSourceCode}" data-attribute-entry="${documentAttributes.paymentRequestCostSourceCode}" readonly="readonly" />
                </td>
            </tr>
            
            <tr>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.purchaseOrderEndDate}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.purchaseOrderDocument.purchaseOrderEndDate" th:field="*{document.purchaseOrderDocument.purchaseOrderEndDate}" data-attribute-entry="${documentAttributes.purchaseOrderEndDate}" readonly="readonly" />
               </td>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.recurringPaymentTypeCode}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.recurringPaymentTypeCode" th:field="*{document.recurringPaymentTypeCode}" data-attribute-entry="${documentAttributes.recurringPaymentTypeCode}" readonly="readonly" />
                </td>
            </tr>
            
            <tr>
                <th align=right valign=middle class="bord-l-b">
                   <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.paymentAttachmentIndicator}"></label></div>
                </th>
                <td align=left valign=middle class="datacell">
                   <input type="text" name="document.paymentAttachmentIndicator" th:field="*{document.paymentAttachmentIndicator}" data-attribute-entry="${documentAttributes.paymentAttachmentIndicator}" />
                </td>
                <th align=right valign=middle class="bord-l-b">
                	<th:block th:switch="${true}">
                	<th:block th:case="${not fullDocumentEntryCompleted}">
					<div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.vendorInvoiceAmount}"></label></div>
					</th:block>
					<th:block th:case="*">
					&nbsp;
					</th:block>
					</th:block>
                </th>
                <td align=left valign=middle class="datacell">
                	<th:block th:switch="${true}">
                	<th:block th:case="${not fullDocumentEntryCompleted}">                
                	<input type="text" name="document.vendorInvoiceAmount" th:field="*{document.vendorInvoiceAmount}" data-attribute-entry="${documentAttributes.vendorInvoiceAmount}" readonly="readonly" />
					</th:block>
					<th:block th:case="*">
					&nbsp;
					</th:block>
					</th:block>                	
                </td>
            </tr>
			<tr>
                    <th align=right valign=middle class="bord-l-b">
	                    <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.extractedTimestamp}"></label></div>
	                </th>
                    <td align=left valign=middle class="datacell">
                        <input type="text" name="document.extractedTimestamp" th:field="*{document.extractedTimestamp}" data-attribute-entry="${documentAttributes.extractedTimestamp}" />
                        <th:block th:if="${not empty KualiForm.document.extractedTimestamp}">
                           <div th:replace="~{fragments/purap/disbursementInfo :: content}" data-source-document-number="${KualiForm.document.documentNumber}" data-source-document-type="${KualiForm.document.documentType}"></div>                        
						</th:block>
                    </td>
                    <th align=right valign=middle class="bord-l-b">
                        <div align="right"><label class="kfs-label" data-attribute-entry-name="" data-attribute-entry="${documentAttributes.accountsPayableApprovalTimestamp}"></label></div>
                    </th>
                    <td align=left valign=middle class="datacell">
                        <input type="text" name="document.accountsPayableApprovalTimestamp" th:field="*{document.accountsPayableApprovalTimestamp}" data-attribute-entry="${documentAttributes.accountsPayableApprovalTimestamp}" />
                    </td>
                
            </tr>
			
			<tr>
	                <div th:replace="~{fragments/sys/bankLabel :: content}" data-align="right"></div>
                    <div th:replace="~{fragments/sys/bankControl :: content}" data-property="document.bankCode" data-object-property="document.bank" data-read-only="${not (fullEntryMode or editPreExtract)}"></div>
                    <th align=right valign=middle class="bord-l-b">
                        <div align="right">&nbsp;</div>
                    </th>
                    <td align=left valign=middle class="datacell">
                        &nbsp;
                    </td>
                
            </tr>
            
		</table> 
		
		

    </div>
</section>
</div>
