<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/purap/relatedPurchaseOrderDocumentsDetail.tag -->
<!-- Fragment parameters: documentAttributes, groupList, limitByPoId -->
<div th:fragment="content (documentAttributes, groupList, limitByPoId)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="documentType=${KualiForm.document.documentHeader.workflowDocument.documentTypeName}"> /*/-->
<!--/*/ <th:block th:with="isATypeOfPODoc=${KualiForm.document.isATypeOfPODoc}"> /*/-->

<th:block th:if="${KualiForm.document.needWarningRelatedPOs}">
	<font color="black"><span th:text="#{${__MSG_KEY__}}"></span></font>
    <br>
</th:block>
	
<th:block th:unless="${#lists.isEmpty(KualiForm.${groupList})}">	   		
	<tr th:each="group : ${KualiForm.${groupList}}" indexId="groupCtr">
		<c:forEach items="${group.views}" var="view" varStatus="viewCtr">					
			<th:block th:if="${(empty limitByPoId) or (limitByPoId eq view.purapDocumentIdentifier)}">
			
			    <%--Setting tab vars for show/hide button. This is done only once - for the top PO in the view list, since there is only one button for the whole group. --%>			    			
				<th:block th:if="${viewCtr.count eq 1}">
					<!--/*/ <th:block th:with="documentTitle=${view.documentLabel}${view.purapDocumentIdentifier}"> /*/-->
        	        <!--/*/ <th:block th:with="tabKey=${kfunc:generateTabKey(documentTitle)}"> /*/-->
					<!--/*/ <th:block th:with="currentTab=${kfunc:getTabState(KualiForm, tabKey)}"> /*/-->
					<%-- default to close --%>
					<th:block th:switch="${true}">
						<th:block th:case="${empty currentTab}">
							<!--/*/ <th:block th:with="isOpen=false"> /*/-->
						</th:block>
						<th:block th:case="${!empty currentTab}">
							<!--/*/ <th:block th:with="isOpen=${currentTab == 'OPEN'}"> /*/-->
						</th:block>
					</th:block>
				</th:block>

                    <html:hidden property="tabStates(${tabKey})" value="${(isOpen ? 'OPEN' : 'CLOSE')}" />

			    <th:block th:switch="${true}">
			    	<%--This is done only once when this PO doc itself is not the current PO, thus there's one and only one related current PO, and all other related POs are noncurrent --%>			    			
			        <th:block th:case="${view.purchaseOrderCurrentIndicator}">
						<h3> ${view.documentLabel} - 
        	            	<a href="<span th:text="${view.url}"></span>" style="color: #FFF" target="_BLANK"><span th:text="${view.poNumberMasked}"></span></a>
        	            	<th:block th:if="${view.needWarning}">
        	            		&nbsp;<font color="white">UNAPPROVED</font>
        	            	</th:block>
        	            	<th:block th:if="${isOpen == 'true' || isOpen == 'TRUE'}">
								<input type="image" property="methodToCall.toggleTab.tab${tabKey}" 
									src="${ConfigProperties.kr.externalizable.images.url}tinybutton-hide.gif" 
									alt="hide" title="toggle" styleClass="tinybutton" styleId="tab-${tabKey}-imageToggle"
									onclick="javascript: return toggleTab(document, '${tabKey}'); " />
							</th:block>
							<th:block th:if="${isOpen != 'true' && isOpen != 'TRUE'}">
								<input type="image" property="methodToCall.toggleTab.tab${tabKey}" 
									src="${ConfigProperties.kr.externalizable.images.url}tinybutton-show.gif" 
									alt="show" title="toggle" styleClass="tinybutton" styleId="tab-${tabKey}-imageToggle"
									onclick="javascript: return toggleTab(document, '${tabKey}'); " />
							</th:block>
						</h3>
				    	<th:block th:if="${not empty view.notes}">
				    		<!--/*/ <th:block th:with="notes=${view.notes}"> /*/-->
				    	</th:block>				
			        </th:block>
			        
			        <th:block th:case="*">
						<%-- This is done only once (for the first related non current PO) - when this PO itself is the current PO, all related POs are noncurrent --%>
			            <th:block th:if="${viewCtr.count eq 1}">
                            <h3><span th:text="${view.documentLabel}"></span>
							<th:block th:if="${isOpen == 'true' || isOpen == 'TRUE'}">
								<input type="image" property="methodToCall.toggleTab.tab${tabKey}" 
									src="${ConfigProperties.kr.externalizable.images.url}tinybutton-hide.gif" 
									alt="hide" title="toggle" styleClass="tinybutton" styleId="tab-${tabKey}-imageToggle"
									onclick="javascript: return toggleTab(document, '${tabKey}'); " />
							</th:block>
							<th:block th:if="${isOpen != 'true' && isOpen != 'TRUE'}">
								<input type="image" property="methodToCall.toggleTab.tab${tabKey}" 
									src="${ConfigProperties.kr.externalizable.images.url}tinybutton-show.gif" 
									alt="show" title="toggle" styleClass="tinybutton" styleId="tab-${tabKey}-imageToggle"
									onclick="javascript: return toggleTab(document, '${tabKey}'); " />
							</th:block>
							</h3>
			            </th:block>
			            
                        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${view.documentLabel} - <span th:text="Doc #"></span> <a href="<span th:text="${view.url}"></span>"  target="_BLANK"><span th:text="${view.documentNumber}"></span></a></h3>
			        </th:block>
			    </th:block>

		    	<!--/*/ <th:block th:with="viewShown=true"> /*/-->
	        </th:block>
		</tr>

		<!--  Only display the notes if the document type is not Purchase Order -->
		<th:block th:if="${viewShown and (not isATypeOfPODoc)}">                    	                    	
			<th:block th:if="${isOpen == 'true' || isOpen == 'TRUE'}">
				<div style="display: block;" id="tab-${tabKey}-div">
			</th:block>
			<th:block th:if="${isOpen != 'true' && isOpen != 'TRUE'}">
				<div style="display: none;" id="tab-${tabKey}-div">
			</th:block>
            <table cellpadding="0" cellspacing="0" class="datatable" summary="Notes">
              <th:block th:switch="${true}">
    	        <th:block th:case="${not empty notes}">
			        <tr>
						<th class="kfs-header-cell" data-attribute-entry-name="" data-attribute-entry=""></th>Date</div><!-- /kul:htmlAttributeHeaderCell -->
	        			<th class="kfs-header-cell" data-attribute-entry-name="" data-attribute-entry=""></th>User</div><!-- /kul:htmlAttributeHeaderCell -->
			        	<th class="kfs-header-cell" data-attribute-entry-name="" data-attribute-entry=""></th>Note</div><!-- /kul:htmlAttributeHeaderCell -->
		        	</tr>
       				<c:forEach items="${notes}" var="note" >
	        	    	<tr>
		            		<td align="center" valign="middle" class="datacell">
		        	   			<span th:text="${note.notePostedTimestamp}"></span>
			                </td>
       				   		<td align="center" valign="middle" class="datacell">
	        	    			<span th:text="${note.authorUniversal.name}"></span>
			           		</td>
			           		<td align="left" valign="middle" class="datacell">
		        		       	<span th:text="${note.noteText}"></span>
       				    	</td>
	        		    </tr>
			        </tr>
			        <!--/*/ <th:block th:with="notes="> /*/-->
				</th:block>	
				<th:block th:case="*">
					<tr>
			    		<th align="center" valign="middle" class="bord-l-b">No Notes</th>
			    	</tr>
				</th:block>	
			  </th:block>
			</table>		    		
			</div>
		</th:block>
	</tr>
	
    <th:block th:if="${viewShown}">
		<th:block th:if="${isATypeOfPODoc}">
			<%-- For PO Doc, there is at most one group of related POs, so only one show/hide button. That's why this is fine outside the group loop. --%>
			<th:block th:if="${isOpen == 'true' || isOpen == 'TRUE'}">
				<div style="display: block;" id="tab-${tabKey}-div">
			</th:block>
			<th:block th:if="${isOpen != 'true' && isOpen != 'TRUE'}">
				<div style="display: none;" id="tab-${tabKey}-div">
			</th:block>
			<br/>
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span th:text="Please refer to the Notes and Attachments Tab for the Purchase Order Notes"></span></h3>
			</div>
		</th:block>
		<br />
	   	<br />
	</th:block>
</th:block>
</div>
