<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>G L Labor Entry Summarization Inquiry</title>
</head>
<body>
<div layout:fragment="content">
<!-- th:with="laborLedgerEntryAttributes=${DataDictionary.LedgerEntry.attributes}" -->

<div class="kfs-page" data-header-title="${KualiForm.pageTitle}" data-doc-title="">
<h1>${KualiForm.pageTitle}</h1>
<form th:action="@{laborGLLaborEntrySummarizationInquiry}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="page-body">
	<table width="100%">
		<tr>
			<td width="1%"><img src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif" alt="" width="20" height="20" /></td>
			<td>
				<table width="100%" class="datatable-100">
					<tr>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.universityFiscalYear.label}"></label></th>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.universityFiscalPeriodCode.label}"></label></th>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.chartOfAccountsCode.label}"></label></th>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.accountNumber.label}"></label></th>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.subAccountNumber.label}"></label></th>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.financialObjectCode.label}"></label></th>
						<th class="grid"><label th:text="${laborLedgerEntryAttributes.financialSubObjectCode.label}"></label></th>
					</tr>
					<tr>
						<td class="grid"><th:block th:if="${!empty KualiForm.universityFiscalYearInquiryUrl}"><a href="${KualiForm.universityFiscalYearInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.universityFiscalYear}" property="universityFiscalYear" readOnly="true"/><th:block th:if="${!empty KualiForm.universityFiscalYearInquiryUrl}"></a></th:block></td>
						<td class="grid"><th:block th:if="${!empty KualiForm.universityFiscalPeriodCodeInquiryUrl}"><a href="${KualiForm.universityFiscalPeriodCodeInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.universityFiscalPeriodCode}" property="universityFiscalPeriodCode" readOnly="true"/><th:block th:if="${!empty KualiForm.universityFiscalPeriodCodeInquiryUrl}"></a></th:block></td>
						<td class="grid"><th:block th:if="${!empty KualiForm.chartOfAccountsCodeInquiryUrl}"><a href="${KualiForm.chartOfAccountsCodeInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.chartOfAccountsCode}" property="chartOfAccountsCode" readOnly="true"/><th:block th:if="${!empty KualiForm.chartOfAccountsCodeInquiryUrl}"></a></th:block></td>
						<td class="grid"><th:block th:if="${!empty KualiForm.accountNumberInquiryUrl}"><a href="${KualiForm.accountNumberInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.accountNumber}" property="accountNumber" readOnly="true"/><th:block th:if="${!empty KualiForm.accountNumberInquiryUrl}"></a></th:block></td>
						<td class="grid"><th:block th:if="${!empty KualiForm.subAccountNumberInquiryUrl}"><a href="${KualiForm.subAccountNumberInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.subAccountNumber}" property="subAccountNumber" readOnly="true"/><th:block th:if="${!empty KualiForm.subAccountNumberInquiryUrl}"></a></th:block></td>
						<td class="grid"><th:block th:if="${!empty KualiForm.financialObjectCodeInquiryUrl}"><a href="${KualiForm.financialObjectCodeInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.financialObjectCode}" property="financialObjectCode" readOnly="true"/><th:block th:if="${!empty KualiForm.financialObjectCodeInquiryUrl}"></a></th:block></td>
						<td class="grid"><th:block th:if="${!empty KualiForm.financialSubObjectCodeInquiryUrl}"><a href="${KualiForm.financialSubObjectCodeInquiryUrl}" target="_blank"></th:block><kul:htmlControlAttribute attributeEntry="${laborLedgerEntryAttributes.financialSubObjectCode}" property="financialSubObjectCode" readOnly="true"/><th:block th:if="${!empty KualiForm.financialSubObjectCodeInquiryUrl}"></a></th:block></td>
					</tr>
				</table>
			</td>
			<td width="1%"><img src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif" alt="" height="20" width="20" /></td>
		</tr>
		<tr>
			<td width="1%"><img src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif" alt="" width="20" height="20" /></td>
			<td> 
			<th:block th:if="${!empty KualiForm.entries}">
	        
	        <display:table class="datatable-100" cellspacing="0"
				cellpadding="0" name="${KualiForm.entries}" id="row"
				export="true" pagesize="100" defaultsort="2"
				requestURI="laborGLLaborEntrySummarizationInquiry.do?methodToCall=start&universityFiscalYear=${KualiForm.universityFiscalYear}&universityFiscalPeriodCode=${KualiForm.universityFiscalPeriodCode}&chartOfAccountsCode=${KualiForm.chartOfAccountsCode}&accountNumber=${KualiForm.accountNumber}&subAccountNumber=${KualiForm.subAccountNumber}&financialObjectCode=${KualiForm.financialObjectCode}&financialSubObjectCode=${KualiForm.financialSubObjectCode}&financialBalanceTypeCode=${KualiForm.financialBalanceTypeCode}&financialObjectTypeCode=${KualiForm.financialObjectTypeCode}&financialDocumentTypeCode=${KualiForm.financialDocumentTypeCode}&financialSystemOriginationCode=${KualiForm.financialSystemOriginationCode}&documentNumber=${KualiForm.documentNumber}">
				
				<!-- th:with="columnLength=${fn:length(row.columns)-15}" -->
				<th:block th:each="column,status : ${row.columns}">
					<th:block th:if="${!empty column.columnAnchor.title}">
						<!-- th:with="title=${column.columnAnchor.title}" -->
					</th:block>
					<th:block th:if="${empty column.columnAnchor.title}">
						<!-- th:with="title=${column.propertyValue}" -->
					</th:block>
					
					<display:column class="${column.formatter.implementationClass == 'org.kuali.rice.kns.web.format.CurrencyFormatter' ? 'numbercell' : 'infocell'}" sortable="${column.sortable}" decorator="org.kuali.rice.kns.web.ui.FormatAwareDecorator" title="${column.columnTitle}" comparator="${column.comparator}">
						<th:block th:switch="${true}">
							<th:block th:case="${!empty column.propertyURL}">
								<a href="<span th:text="${column.propertyURL}"></span>" title="<span th:text="${column.columnAnchor.title}"></span>" target="_blank"><span th:text="${column.propertyValue}"></span></a>	
							</th:block>		
							<th:block th:case="*">
								<span th:text="${column.propertyValue}"></span>
							</th:block>	
						</th:block>
					</display:column>
				</th:block>
				
			</display:table>
			</td>
			</th:block>
			<td width="1%"><img src="${ConfigProperties.kr.externalizable.images.url}pixel_clear.gif" alt="" height="20" width="20" /></td>
		</tr>
	</table>
	
	<kul:inquiryControls />

</div>
</div>
</div>
</body>
</html>
