<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: gl/balanceInquiryLookup.tag -->
<!-- Fragment parameters: boClassName, actionPath, fieldConversions, lookupParameters, hideReturnLink, tabindexOverride, image -->
<div th:fragment="content (boClassName, actionPath, fieldConversions, lookupParameters, hideReturnLink, tabindexOverride, image)" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="imageName=${empty image ? 'searchicon.gif' : image}"> /*/-->

<th:block th:switch="${true}">
  <th:block th:case="${!empty tabindexOverride}">
    <!--/*/ <th:block th:with="tabindex=${tabindexOverride}"> /*/-->
  </th:block>
  <th:block th:case="*">
    <!--/*/ <th:block th:with="tabindex=${KualiForm.nextArbitrarilyHighIndex}"> /*/-->
  </th:block>
</th:block>

<!--/*/ <th:block th:with="balanceInquiryLookupButtonName=methodToCall.performBalanceInquiryLookup.(!!${boClassName}!!).(((${fieldConversions}))).((#${lookupParameters}#)).((<${hideReturnLink}>)).(([${actionPath}]))"> /*/-->
${kfunc:registerEditableProperty(KualiForm, balanceInquiryLookupButtonName)}
<input type="image" tabindex="${tabindex}" name="${balanceInquiryLookupButtonName}"
   src="${ConfigProperties.kr.externalizable.images.url}${imageName}" alt="search" title="search" border="0" class="tinybutton" valign="middle"/>
</div>
