<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/tem/specialCircumstances.tag -->
<div th:fragment="content ()" xmlns:th="http://www.thymeleaf.org">
<!--/*/ <th:block th:with="specialAttributes=${DataDictionary.SpecialCircumstances.attributes}"> /*/-->
<!--/*/ <th:block th:with="specialQuestionAttributes=${DataDictionary.SpecialCircumstancesQuestion.attributes}"> /*/-->
<!--/*/ <th:block th:with="documentAttributes=${DataDictionary.TravelAuthorizationDocument.attributes}"> /*/-->
<!--/*/ <th:block th:with="isTA=${KualiForm.isTravelAuthorizationDoc}"> /*/-->
<!--/*/ <th:block th:with="isTR=${KualiForm.docTypeName == TemConstants.TravelDocTypes.TRAVEL_REIMBURSEMENT_DOCUMENT}"> /*/-->
<!--/*/ <th:block th:with="isLimitEditable=${KualiForm.documentActions[Constants.KUALI_ACTION_CAN_EDIT] && KualiForm.editingMode['expenseLimitEntry']}"> /*/-->

<section class="kfs-tab" data-tab-title="Special Circumstances" data-default-open="${KualiForm.document.specialCircumstancesDefaultOpen}">
  <h3>Special Circumstances</h3>
    <div class="tab-container" align=center > 
		<h3>Special Circumstances</h3>
        <table cellpadding="0" cellspacing="0" class="datatable" summary="Special Circumstances">
          <tr>
            <td>&nbsp;</td> 
            <td>If there is an expense limit imposed by department or grant or some other budgetary restrictions on this trip, please enter the expense limit here $<input type="text" name="document.expenseLimit" th:field="*{document.expenseLimit}" data-attribute-entry="${documentAttributes.expenseLimit}" /></td>
          </tr>
          <th:block th:if="${(isTA || isTR) && KualiForm.document.mealsWithoutLodging}">
          <tr>
            <td>&nbsp;</td> 
            <td>Justification for meals without lodging <br /> <input type="text" name="document.mealWithoutLodgingReason" th:field="*{document.mealWithoutLodgingReason}" data-attribute-entry="${documentAttributes.mealWithoutLodgingReason}" /></td>
          </tr>
          </th:block>          
          <tr th:each="item, specialIndex : ${KualiForm.document.specialCircumstances}">
          <tr>
          <td class="datacell">
          	<th:block th:if="${!KualiForm.document.specialCircumstances[specialIndex.count - 1].question.free}">
          	<input type="text" name="document.specialCircumstances[${specialIndex.count - 1}].response" th:field="*{document.specialCircumstances[${specialIndex.count - 1}].response}" data-attribute-entry="${specialAttributes.response}" />
			</th:block>
		  </td>
          <td><input type="text" name="document.specialCircumstances[${specialIndex.count - 1}].question.text" th:field="*{document.specialCircumstances[${specialIndex.count - 1}].question.text}" data-attribute-entry="${specialQuestionAttributes.text}" readonly="readonly" />
                <th:block th:if="${KualiForm.document.specialCircumstances[specialIndex.count - 1].question.free}">
                    <br/>
                  <input type="text" name="document.specialCircumstances[${specialIndex.count - 1}].text" th:field="*{document.specialCircumstances[${specialIndex.count - 1}].text}" data-attribute-entry="${specialAttributes.text}" />
                </th:block>
                </td>
           </tr>
          </tr>
        </table>
    </div>
</section>
</div>
