<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- Thymeleaf fragment converted from tag: module/bc/columnTotalCell.tag -->
<!-- Fragment parameters: cellProperty, textStyle, dataCellCssClass, rowSpan, colSpan, fieldAlign, formattedNumberValue, disableHiddenField -->
<div th:fragment="content (cellProperty, textStyle, dataCellCssClass, rowSpan, colSpan, fieldAlign, formattedNumberValue, disableHiddenField)" xmlns:th="http://www.thymeleaf.org">
<th:block th:if="${empty fieldAlign}">
    <!--/*/ <th:block th:with="fieldAlign=left"> /*/-->
</th:block>
<!--/*/ <th:block th:with="rowSpan=${empty rowSpan ? 1 : rowSpan}"> /*/-->
<!--/*/ <th:block th:with="colSpan=${empty colSpan ? 1 : colSpan}"> /*/-->

<td class="${dataCellCssClass}" valign="top" rowspan="${rowSpan}" colspan="${colSpan}">
<div style="text-align: ${fieldAlign};">
<strong>
<span class="nowrap">
    <th:block th:switch="${true}">
        <th:block th:case="${empty formattedNumberValue}">
            <span th:text="${KualiForm.${cellProperty}}"></span>&nbsp;
        </th:block>
        <th:block th:case="*">
            ${formattedNumberValue}
        </th:block>
    </th:block>
</span>
</strong>
</div>
</td>
</div>
