<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Cash Management</title>
</head>
<body>
<div layout:fragment="content">
<!-- th:with="allowAdditionalDeposits=${KualiForm.editingMode['allowAdditionalDeposits']}" -->
<!-- th:with="showDeposits=${allowAdditionalDeposits || (!empty KualiForm.document.deposits)}" -->

<div class="document-page" data-document-type="CashManagementDocument" data-form-action="financialCashManagement" data-show-document-info="true">
<form th:action="@{financialCashManagement}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="document-body">
    <sys:hiddenDocumentFields isFinancialDocument="false"/>
    
    <div th:replace="~{fragments/documentOverview :: documentOverview(${{KualiForm.editingMode}})}"></div>
    
    <th:block th:if="${!empty KualiForm.document.checks}">
      <logic:iterate indexId="ctr" name="KualiForm" property="document.checks" id="currentCheck">
        <div th:replace="~{fragments/fp/hiddenCheckLine :: hiddenCheckLine}" th:with="propertyName='document.checks[${ctr}]',displayHidden='false'"></div>
      </logic:iterate>
    </th:block>
    
    <div th:replace="~{fragments/fp/cashDrawerActivity :: cashDrawerActivity}"></div>
    
    <th:block th:if="${!showDeposits}">
        <kul:hiddenTab forceOpen="true" />
    </th:block>
    <th:block th:if="${showDeposits}">
        <div th:replace="~{fragments/fp/deposits :: deposits}" th:with="editingMode=${KualiForm.editingMode}"></div>
    </th:block>

    <div th:replace="~{fragments/fp/cashieringActivity :: cashieringActivity}"></div>
    
    <th:block th:if="${!empty KualiForm.recentlyClosedItemsInProcess}">
      <div th:replace="~{fragments/fp/recentlyClosedMiscAdvances :: recentlyClosedMiscAdvances}"></div>
    </th:block>

    <th:block th:if="${KualiForm.document.bankCashOffsetEnabled}">
        <div th:replace="~{fragments/generalLedgerPendingEntries :: glpe}"></div>
    </th:block>
    
    <div th:replace="~{fragments/notes :: notes}"></div>
    <div th:replace="~{fragments/adHocRecipients :: adHocRecipients}"></div>
    <div th:replace="~{fragments/routeLog :: routeLog}"></div>
    <div th:replace="~{fragments/superUserActions :: superUserActions}"></div>
    <div th:replace="~{fragments/panelFooter :: panelFooter}"></div>
    
    <div th:replace="~{fragments/documentControls :: documentControls(${documentEntry.transactionalDocument}, ${KualiForm.extraButtons})}"></div>
</div>
</div>
</div>
</body>
</html>
