<!--
   The Kuali Financial System, a comprehensive financial management system for higher education.

   Copyright 2005-2014 The Kuali Foundation

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Intra Account Adjustment</title>
</head>
<body>
<div layout:fragment="content">
<div class="document-page" data-document-type="IntraAccountAdjustmentDocument" data-form-action="financialIntraAccountAdjustment" data-show-document-info="true">
<form th:action="@{financialIntraAccountAdjustment}" method="post" enctype="multipart/form-data" id="kualiForm" name="KualiForm">
<div class="document-body">

	<div th:replace="~{fragments/documentOverview :: documentOverview(${{KualiForm.editingMode}})}"></div>
		
	<div class="tab-container" th:data-tab-title="Accounting Lines">
    <h3 th:text="Accounting Lines">Accounting Lines</h3>
		<sys-java:accountingLines>
			<sys-java:accountingLineGroup newLinePropertyName="newSourceLine" collectionPropertyName="document.sourceAccountingLines" collectionItemPropertyName="document.sourceAccountingLine" attributeGroupName="source" />
			<sys-java:accountingLineGroup newLinePropertyName="newTargetLine" collectionPropertyName="document.targetAccountingLines" collectionItemPropertyName="document.targetAccountingLine" attributeGroupName="target"/>
		</sys-java:accountingLines>
	</div>		

	
	<!-- th:with="readOnly=${!KualiForm.documentActions[Constants.KUALI_ACTION_CAN_EDIT]}" -->
	<div th:replace="~{fragments/fp/capitalAccountingLines :: capitalAccountingLines}" th:with="readOnly=${readOnly}"></div>
	
	<th:block th:if="${KualiForm.capitalAccountingLine.canCreateAsset}">
		<div th:replace="~{fragments/fp/capitalAssetCreateTab :: capitalAssetCreateTab}" th:with="readOnly=${readOnly}"></div>
	</th:block>
  	
	<div th:replace="~{fragments/fp/capitalAssetModifyTab :: capitalAssetModifyTab}" th:with="readOnly=${readOnly}"></div>  
	
		
	<div th:replace="~{fragments/generalLedgerPendingEntries :: glpe}"></div>
	<div th:replace="~{fragments/notes :: notes}"></div>
	<div th:replace="~{fragments/adHocRecipients :: adHocRecipients}"></div>
	<div th:replace="~{fragments/routeLog :: routeLog}"></div>
	<div th:replace="~{fragments/panelFooter :: panelFooter}"></div>
	<div th:replace="~{fragments/documentControls :: documentControls(${documentEntry.transactionalDocument}, ${KualiForm.extraButtons})}"></div>

</div>
</div>
</div>
</body>
</html>
